<!doctype html>
<html lang="zh-CN">
	<head> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name='msvalidate.01' content='D0A12F85D732BE57318CA28F52500432'>
		<meta name='chinaz-site-verification' content='5BDB6F3CEC5D6F6F'>
		<meta name='google-site-verification' content='1eNyA6u9gVIE5LzXP0FGw3I6yT9JnVNt0DVo4ujE-8Q'>
		<link href="https://data.miuier.com/assets/mdui/css/mdui.min.css" rel="stylesheet">
		<script src="https://data.miuier.com/assets/mdui/js/mdui.min.js"></script>
		<script src="https://data.miuier.com/assets/jquery/jquery.min.js"></script>
		<link href="https://old.miuier.com/assets/miuiroms.css" rel="stylesheet">
		<script src="https://old.miuier.com/assets/miuiroms.js"></script>
		<link href='https://font.sec.miui.com/font/css?family=MiSans:300,450,500,650:Chinese_Simplify,Latin&display=swap' rel='stylesheet'>
		<link rel='icon' type='image/x-icon' href='https://data.miuier.com/assets/logo/favicon.ico'>
		<script async src='https://www.googletagmanager.com/gtag/js?id=UA-153213840-1'></script>
		<script>
			(function (c, l, a, r, i, t, y) {
				c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
				t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i + "?ref=bwt";
				y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
			})(window, document, "clarity", "script", "ecb8j7x9aw");
		</script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'UA-153213840-1');
		</script>
		<script>
			var _hmt = _hmt || [];
			(function () {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?f107e28fc41495046dc606c8b53ee24e";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<title>第XXX周开发版日志 - MIUI官方ROM仓库</title> 
	</head> 
	<body>
		<div class="mdui-toolbar mdui-color-deep-orange-accent"> 
			<button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close=""><i class="mdui-icon material-icons">menu</i></button> 
			<span class="mdui-typo-headline">MIUI官方ROM仓库</span> 
			<div class="mdui-toolbar-spacer"></div> 
			<div class="mdui-drawer mdui-drawer-close" id="main-drawer"> 
				<ul class="mdui-list" mdui-collapse="{accordion: true}"> 
					<li class="mdui-list-item mdui-ripple"> <i class="mdui-list-item-icon mdui-icon material-icons">home</i> 
						<div class="mdui-list-item-content">
							<a href="https://old.miuier.com/index.html">回到首页</a>
						</div> </li> 
					
					<li class="mdui-list-item mdui-ripple  mdui-list-item-active"> <i class="mdui-list-item-icon mdui-icon material-icons">developer_mode</i> 
						<div class="mdui-list-item-content">
							<a href="https://old.miuier.com/weekly/index.html">查看日志</a>
						</div> </li> 
					<li class="mdui-list-item mdui-ripple"> <i class="mdui-list-item-icon mdui-icon material-icons">devices</i> 
						<div class="mdui-list-item-content">
							<a href="https://old.miuier.com/devices/index.html">机型列表</a>
						</div> </li> 
					<li class="mdui-list-item mdui-ripple"> <i class="mdui-list-item-icon mdui-icon material-icons">computer</i> 
						<div class="mdui-list-item-content">
							<a href="https://old.miuier.com/devices/index.html">机型列表</a>
						</div> </li> 
					<li class="mdui-list-item mdui-ripple"> <i class="mdui-list-item-icon mdui-icon material-icons">favorite</i> 
						<div class="mdui-list-item-content">
							<a href="https://old.miuier.com/thanks.html">衷心感谢</a>
						</div> </li> 
					<li class="mdui-list-item mdui-ripple"> <i class="mdui-list-item-icon mdui-icon material-icons">person</i> 
						<div class="mdui-list-item-content">
							<a href="https://old.miuier.com/aboutme.html">站点日志</a>
						</div> </li> 
				</ul> 
			</div> 
		</div> 
		<div class="mdui-container-fluid"> 
			<div> 
				<div class="mdui-panel-item mdui-panel-item-open"> 
					<div class="mdui-panel-item-header" style="font-weight: bolder;font-size: larger;">
						MIUI 第XXX周发布公告及更新日志
					</div> 
					<div class="mdui-panel-item-body"> 
						<p>论坛链接：<a href="TEXT_HERE">MIUI第XXX周发布公告及更新日志</a></p> 
						<p>社区链接：<a href="TEXT_HERE">MIUI第XXX周发布公告及更新日志</a></p> 
						<br> 
						<p style="font-weight: bolder;">▍发布时间</p> 
						<p>TEXT_HERE</p> 
						<br> 
						<p style="font-weight: bolder;">▍升级说明</p> 
						<ol> 
							<li></li> 
							<li></li> 
							<li></li> 
							<li></li> 
						</ol> 
						<br> 
						<p style="font-weight: bolder;">▍重要说明</p> 
						<ol> 
							<li></li> 
							<li></li> 
							<li></li> 
							<li></li> 
							<li></li> 
							<li></li> 
						</ol> 
						<hr> 
						<p style="font-weight: bolder;">▍更新日志</p> 
						<br> 
						<p style="font-weight: bolder;">【】</p> 
						<p></p> 
						<br> 
						<p style="font-weight: bolder;">【】</p> 
						<p></p> 
						<br> 
						<p style="font-weight: bolder;">【】</p> 
						<p></p> 
						<br> 
					</div> 
				</div> 
			</div> 
		</div> 
		<div class="mdui-container-fluid pc"> 
			<p>视频演示：</p> 
			<iframe height="1080" width="100%" src="https://player.youku.com/embed/XODUyMDA4Mjg0" frameborder="0" allowfullscreen></iframe> 
		</div> 
		<div class="mdui-container-fluid mobile mdui-hidden"> 
			<p>视频演示：</p> 
			<iframe height="240" width="480" src="https://player.youku.com/embed/XODUyMDA4Mjg0" frameborder="0" allowfullscreen></iframe> 
		</div> 
		<div class="mdui-container-fluid"> 
			<div class="mdui-table-fluid"> 
				<table class="mdui-table"> 
					<thead> 
						<tr> 
							<th>机型</th> 
							<th>安卓版本</th> 
							<th>卡刷包</th> 
							<th>线刷包</th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<td>小米5S(capricorn)</td> 
							<td>8.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米5S Plus(natrium)</td> 
							<td>8.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米5C(meri)</td> 
							<td>7.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米5X(tiffany)</td> 
							<td>8.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米6(sagit)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米6X(wayne)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米8(dipper)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米8探索版(ursa)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米8屏幕指纹版(equuleus)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米8 SE(sirius)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米8青春版(platina)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米9/透明版(cepheus)</td> 
							<td>10.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米9 SE(grus)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米CC9(pyxis)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米CC9美图定制版(vela)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米CC9e(laurus)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米Max 2(oxygen)</td> 
							<td>7.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米Max 3(nitrogen)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米Play(lotus)</td> 
							<td>8.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米Note 2(scorpio)</td> 
							<td>8.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米Note 3(jason)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米MIX(lithium)</td> 
							<td>8.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米MIX 2(chiron)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米MIX 2S(polaris)</td> 
							<td>10.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米MIX 3(perseus)</td> 
							<td>10.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米平板3(cappu)</td> 
							<td>7.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>小米平板4/Plus(clover)</td> 
							<td>8.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米4X(santoni)</td> 
							<td>7.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米5(rosy)</td> 
							<td>8.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米5A(riva)</td> 
							<td>8.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米5 Plus(vince)</td> 
							<td>8.1</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米6(cereus)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米6A(cactus)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米6 Pro(sakura)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米S2(ysl)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米Y3(onc)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米Note 4X(高通平台)(mido)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米Note 5(whyred)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米Note 5A 标准版(ugglite)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>红米Note 5A 高配版(ugg)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>Redmi Note 7(lavender)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>Redmi Note 7 Pro(violet)</td> 
							<td>9.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>Redmi K20(davinci)</td> 
							<td>10.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
						<tr> 
							<td>Redmi K20 Pro/尊享版(raphael)</td> 
							<td>10.0</td> 
							<td><a href="TEXT_HERE" id="r">TEXT_HERE</a></td> 
							<td><a href="TEXT_HERE" id="f">TEXT_HERE</a></td> 
						</tr> 
					</tbody> 
				</table> 
			</div> 
		</div> 
		 
			
		</div> 
		 
			
		</div> 
		<footer class="mdui-color-grey-700 mdui-bottom-nav" style="height:120px;"> 
			<div class="mdui-container-fluid"> 
				<div class="mdui-row mdui-footer-nav"> 
					<div class="mdui-col-xs-3"> 
						<h3><a href="https://old.miuier.com/aboutme.html" target="_blank" style="font-size:15px;">关于我</a></h3> 
					</div> 
					<div class="mdui-col-xs-4"> 
						<h3><a href="https://web.vip.miui.com/page/info/mio/mio/homePage?uid=311975809" target="_blank" style="font-size:15px;">我的主页</a> </h3> 
					</div> 
					<div class="mdui-col-xs-5"> 
						<h3><a href="https://www.mdui.org" target="_blank" style="font-size:15px;">使用MDUI打造</a></h3> 
					</div> 
				</div> 
				<div class="mdui-divider footer-divider"></div> 
				<p></p> 
				<div class="mdui-text-center">
					2019 - 2022
				</div> 
				 
					
				</div> 
			</div> 
		</footer> 
		<a href="#top"><button class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-deep-orange-accent"><i class="mdui-icon material-icons">arrow_upward</i></button></a>  
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4e0818275b9944a59d625e2df596aaca"}'></script>
	</body>
	
	</html>