<li>小米9/透明版：</li>
                        <li>小米9 Pro 5G：</li>
                        <li>小米10：</li>
                        <li>小米10S：</li>
                        <li>小米10 Pro：</li>
                        <li>小米10 青春版：</li>
                        <li>小米10 至尊纪念版：</li>
                        <li>小米10 Lite：</li>
                        <li>小米11：</li>
                        <li>小米11i India：</li>
                        <li>小米11 Lite 4G：</li>
                        <li>小米11 青春版：</li>
                        <li>小米11 青春活力版：</li>
                        <li>小米11 Pro/Ultra：</li>
                        <li>小米11T：</li>
                        <li>小米11T Pro：</li>
                        <li>小米12：</li>
                        <li>小米12T：</li>
                        <li>小米12 Lite：</li>
                        <li>小米12X：</li>
                        <li>小米12 Pro：</li>
                        <li>小米12 Pro 天玑版：</li>
                        <li>小米12S：</li>
                        <li>小米12S Pro：</li>
                        <li>小米12S Ultra：</li>
                        <li>小米CC9：</li>
                        <li>小米CC9 Pro：</li>
                        <li>小米Note 10 Lite：</li>
                        <li>小米MIX FOLD：</li>
                        <li>小米MIX 4：</li>
                        <li>小米MIX FOLD 2：</li>
                        <li>小米平板5：</li>
                        <li>小米平板5 Pro 5G：</li>
                        <li>小米平板5 Pro WiFi：</li>
                        <li>小米平板5 Pro 12.4：</li>
                        <li>小米 Civi：</li>
                        <li>小米 Civi 1S：</li>
                        <li>小米 Civi 2：</li>
                        <li>小米A3：</li>
                        <li>Redmi 8：</li>
                        <li>Redmi 8A：</li>
                        <li>Redmi 8A Dual：</li>
                        <li>Redmi 9：</li>
                        <li>Redmi 9 Activ：</li>
                        <li>Redmi 9A：</li>
                        <li>Redmi 9C：</li>
                        <li>Redmi 9C NFC：</li>
                        <li>Redmi 10/Prime：</li>
                        <li>Redmi 10A/10A Sport：</li>
                        <li>Redmi 10C：</li>
                        <li>Redmi 10X 4G：</li>
                        <li>Redmi 10X 5G：</li>
                        <li>Redmi 10X Pro：</li>
                        <li>Redmi Note 8：</li>
                        <li>Redmi Note 8 2021：</li>
                        <li>Redmi Note 8T：</li>
                        <li>Redmi Note 8 Pro：</li>
                        <li>Redmi Note 9 4G：</li>
                        <li>Redmi Note 9 5G：</li>
                        <li>Redmi Note 9S：</li>
                        <li>Redmi Note 9 Pro：</li>
                        <li>Redmi Note 9 Pro 国际：</li>
                        <li>Redmi Note 9 Pro Max：</li>
                        <li>Redmi Note 10：</li>
                        <li>Redmi Note 10 Lite：</li>
                        <li>Redmi Note 10 Pro：</li>
                        <li>Redmi Note 10S：</li>
                        <li>Redmi Note 10T：</li>
                        <li>Redmi Note 10 国际：</li>
                        <li>Redmi Note 10 Pro/Pro Max 国际：</li>
                        <li>Redmi Note 11 4G：</li>
                        <li>Redmi Note 11 5G：</li>
                        <li>Redmi Note 11E：</li>
                        <li>Redmi Note 11 国际版：</li>
                        <li>Redmi Note 11 NFC 国际版：</li>
                        <li>Redmi Note 11 Pro 4G：</li>
                        <li>Redmi Note 11 Pro 4G India：</li>
                        <li>Redmi Note 11 Pro 5G：</li>
                        <li>Redmi Note 11 Pro/Pro+：</li>
                        <li>Redmi Note 11S 4G：</li>
                        <li>Redmi Note 11S 5G：</li>
                        <li>Redmi Note 11T Pro/Pro+：</li>
                        <li>Redmi Note 12：</li>
                        <li>Redmi Note 12 Pro/Pro+/探索版：</li>
                        <li>Redmi K30 4G版：</li>
                        <li>Redmi K30 5G版：</li>
                        <li>Redmi K30i 5G版：</li>
                        <li>Redmi K30 Pro：</li>
                        <li>Redmi K30 至尊纪念版：</li>
                        <li>Redmi K30S 至尊纪念版：</li>
                        <li>Redmi K40：</li>
                        <li>Redmi K40S：</li>
                        <li>Redmi K40 Pro：</li>
                        <li>Redmi K40 游戏增强版：</li>
                        <li>Redmi K50 电竞版：</li>
                        <li>Redmi K50：</li>
                        <li>Redmi K50 Pro：</li>
                        <li>Redmi K50 至尊版：</li>
                        <li>Redmi A1/A1+：</li>
                        <li>Redmi Pad：</li>
                        <li>POCO C31：</li>
                        <li>POCO C40：</li>
                        <li>POCO M2：</li>
                        <li>POCO M2 Pro：</li>
                        <li>POCO M3：</li>
                        <li>POCO M4 Pro 5G：</li>
                        <li>POCO M5：</li>
                        <li>POCO M5S：</li>
                        <li>POCO X3 NFC：</li>
                        <li>POCO X3 Pro：</li>
                        <li>：</li>
                        <li>：</li>
                        <li>：</li>
                        <li>：</li>
                        <li>：</li>
                        <li>：</li>
                        <li>：</li>