a {
    font-weight: bolder;
    text-decoration: none;
    color: mediumblue;
}
li {
    list-style-type: none;
}
span {
    font-size: larger;
}
.mdui-card {
    border-radius: 0px;
}
ul a {
    padding-top: 20px;
}
body {
    font-family: "MI Lan Pro"
}

.mdui-bottom-nav{
    font-weight: lighter;
}

#more span{
    font-size: larger;
    font-weight: bolder;
}

.mdui-panel-item-header{
    margin-left: -20px;
    font-size: 25px;
    font-weight: bolder;
}

.mdui-radio{
    margin-top: -7px;
}

div a span{
    color: black;
}
.mdui-color-deep-orange-accent{
    background-color:#FF7E00;
}
.mdui-chip-icon{
    background-color:#FF7E00;
}
@media screen and (max-width: 985px){
    .pc{
        display: none;
    }
    .mobile{
        display: show;
    }
}
@media screen and (min-width: 985px){
    .pc{
        display: show;
    }
    .mobile{
        display: none;
    }
}