body {
    font-family: "MISans";
    filter: grayscale();
}
a {
    text-decoration: none;
    color:blue;
}

.mdui-list-item-content a{
    color:black;
}
.mdui-chip a{
    color:black;
}
mdui-btn a {
    color:black;
}
li a {
    font-weight: bolder;
}
p a {
    text-decoration: none;
}