body {
    font-family: "MISans";
}
a {
    text-decoration: none;
    color:white;
}
.mdui-tab-active {
    color:white !important;
}
li a {

    color: blue;
    font-weight: bolder;
}

p a {
    text-decoration: none;
    color: blue;
}