<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?67319535f71174561c4472de9a73b0b7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
            li a {
                text-decoration: none;
                color: blue;
            }
    
            td a {
                text-decoration: none;
                color: black;
            }
        </style>
    <title>Redmi K20(davinci)官方ROM合集 --By 海力力。</title>
</head>

<body class="mdui-bottom-nav-fixed">
    <div class="mdui-toolbar mdui-color-deep-orange-accent">
        <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
                class="mdui-icon material-icons">menu</i></button>
        <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
            <ul class="mdui-list" mdui-collapse="{accordion: true}">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                    <div class="mdui-list-item-content"><a href="../index.html">回到首页</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">adb</i>
                    <div class="mdui-list-item-content"><a href="../tutorial.html">刷机教程</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">developer_mode</i>
                    <div class="mdui-list-item-content"><a href="weekly/index.html">查看日志</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
                        <div class="mdui-list-item-content"><a href="index.html">机型列表</a></div>
                </li>
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">favorite</i>
                <div class="mdui-list-item-content"><a href="../thanks.html">衷心感谢</a></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                <div class="mdui-list-item-content"><a href="../aboutme.html">站点日志</a></div>
            </li>

            </ul>
        </div>
    </div>

    <div class="mdui-panel mdui-panel-gapless">
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header mdui-text-color-red" style="font-size: 25px;">注：</div>
            <div class="mdui-panel-item-body">
                <ol>
                    <li>机型：Redmi K20 代号：davinci</li>
                    <li>此次更新项目：V11.0.1.0.PFJMIXM</li>
                    <li>本站点将不收录稳定版灰度内测和开发版内测以及体验版</li>
                    <li>所有线刷都以解锁Bootloader为前提，并且解锁Bootloader时会清除数据，请提前做好备份工作，<a href="http://www.miui.com/unlock">传送门</a></li>
                    <li>官方刷机工具：<a href="http://bigota.d.miui.com/tools/MiFlash2018-5-28-0.zip">MiFlash 最新版(2018.5.28)</a>, <a href="http://attach.bbs.miui.com/forum/201906/23/110732fw58fwdkr9da5gw9.rar">小米助手 4.0.529.193</a></li>
                </ol>
                <br>
            </div>
        </div>
    </div>

    <!-- 由此向下区域为ROM的正式内容 -->
    <div><br></div>
    <div class="mdui-tab mdui-tab-full-width mdui-color-white-accent" mdui-tab>
            <a href="#CN_BETA" class="mdui-ripple">国内开发版</a>
            <a href="#CN_STABLE" class="mdui-ripple">国内稳定版</a>
            <a href="#GB_STABLE" class="mdui-ripple">国际稳定版</a>
            <a href="#IN_STABLE" class="mdui-ripple">印度稳定版</a>
            <a href="#EEA_STABLE" class="mdui-ripple">EEA稳定版</a>
            <a href="#RU_STABLE" class="mdui-ripple">俄罗斯稳定版</a>
    </div>
    <div id="CN_BETA" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国内开发版</th>
                            <th>MIUI版本</th>
                            <th>版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>2</td>
                            <td>MIUI10</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>MIUI10</td>
                            <td>9.6.20</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.6.20/miui_DAVINCI_9.6.20_5550222ae2_9.0.zip">miui_DAVINCI_9.6.20_5550222ae2_9.0.zip</a></td>
                            <td><a href="http://bigota.d.miui.com/9.6.20/davinci_images_9.6.20_20190620.0000.00_9.0_cn_eaf0551cb0.tgz">davinci_images_9.6.20_20190620.0000.00_9.0_cn_eaf0551cb0.tgz</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="CN_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国内稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>12</td>
                            <td>TEXT_HERE</td>
                            <td>TEXT_HERE</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>11</td>
                            <td>TEXT_HERE</td>
                            <td>TEXT_HERE</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>10</td>
                            <td>TEXT_HERE</td>
                            <td>TEXT_HERE</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>9</td>
                            <td>TEXT_HERE</td>
                            <td>TEXT_HERE</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>8</td>
                            <td>TEXT_HERE</td>
                            <td>TEXT_HERE</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>V11.0.3.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V11.0.3.0.PFJCNXM/miui_DAVINCI_V11.0.3.0.PFJCNXM_104ec46429_9.0.zip"
                                   >miui_DAVINCI_V11.0.3.0.PFJCNXM_104ec46429_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V11.0.3.0.PFJCNXM/davinci_images_V11.0.3.0.PFJCNXM_20190926.0000.00_9.0_cn_fd671ffccf.tgz"
                                   >davinci_images_V11.0.3.0.PFJCNXM_20190926.0000.00_9.0_cn_fd671ffccf.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>V10.3.15.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.15.0.PFJCNXM/miui_DAVINCI_V10.3.15.0.PFJCNXM_d8545c3ae5_9.0.zip"
                                   >miui_DAVINCI_V10.3.15.0.PFJCNXM_d8545c3ae5_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.15.0.PFJCNXM/davinci_images_V10.3.15.0.PFJCNXM_20190827.0000.00_9.0_cn_62327c4a51.tgz"
                                   >davinci_images_V10.3.15.0.PFJCNXM_20190827.0000.00_9.0_cn_62327c4a51.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>V10.3.14.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.14.0.PFJCNXM/miui_DAVINCI_V10.3.14.0.PFJCNXM_f944c0a4bf_9.0.zip"
                                   >miui_DAVINCI_V10.3.14.0.PFJCNXM_f944c0a4bf_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.14.0.PFJCNXM/davinci_images_V10.3.14.0.PFJCNXM_20190802.0000.00_9.0_cn_087bc8862c.tgz"
                                   >davinci_images_V10.3.14.0.PFJCNXM_20190802.0000.00_9.0_cn_087bc8862c.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.3.12.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.12.0.PFJCNXM/miui_DAVINCI_V10.3.12.0.PFJCNXM_54a3ff575a_9.0.zip"
                                   >miui_DAVINCI_V10.3.12.0.PFJCNXM_54a3ff575a_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.12.0.PFJCNXM/davinci_images_V10.3.12.0.PFJCNXM_20190712.0000.00_9.0_cn_5d53ab8f55.tgz"
                                   >davinci_images_V10.3.12.0.PFJCNXM_20190712.0000.00_9.0_cn_5d53ab8f55.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.3.8.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJCNXM/miui_DAVINCI_V10.3.8.0.PFJCNXM_968e5a975a_9.0.zip"
                                   >miui_DAVINCI_V10.3.8.0.PFJCNXM_968e5a975a_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJCNXM/davinci_images_V10.3.8.0.PFJCNXM_20190616.0000.00_9.0_cn_c4b6816e36.tgz"
                                   >davinci_images_V10.3.8.0.PFJCNXM_20190616.0000.00_9.0_cn_c4b6816e36.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.7.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFJCNXM/miui_DAVINCI_V10.3.7.0.PFJCNXM_ec12ed28ae_9.0.zip"
                                   >miui_DAVINCI_V10.3.7.0.PFJCNXM_ec12ed28ae_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFJCNXM/davinci_images_V10.3.7.0.PFJCNXM_20190603.0000.00_9.0_cn_ef655a5611.tgz"
                                   >davinci_images_V10.3.7.0.PFJCNXM_20190603.0000.00_9.0_cn_ef655a5611.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.6.0.PFJCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJCNXM/miui_DAVINCI_V10.3.6.0.PFJCNXM_f4750444d0_9.0.zip"
                                   >miui_DAVINCI_V10.3.6.0.PFJCNXM_f4750444d0_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJCNXM/davinci_images_V10.3.6.0.PFJCNXM_20190522.0000.00_9.0_cn_84dc48df10.tgz"
                                   >davinci_images_V10.3.6.0.PFJCNXM_20190522.0000.00_9.0_cn_84dc48df10.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id="GB_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国际稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>10</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>9</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>8</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>7</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>V11.0.1.0.PFJMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V11.0.1.0.PFJMIXM/miui_DAVINCIGlobal_V11.0.1.0.PFJMIXM_de37c81233_9.0.zip">miui_DAVINCIGlobal_V11.0.1.0.PFJMIXM_de37c81233_9.0.zip</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>V10.3.11.0.PFJMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFJMIXM/miui_DAVINCIGlobal_V10.3.11.0.PFJMIXM_a63c8d3d93_9.0.zip"
                                   >miui_DAVINCIGlobal_V10.3.11.0.PFJMIXM_a63c8d3d93_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFJMIXM/davinci_global_images_V10.3.11.0.PFJMIXM_20190802.0000.00_9.0_global_ea6683ef55.tgz"
                                   >davinci_global_images_V10.3.11.0.PFJMIXM_20190802.0000.00_9.0_global_ea6683ef55.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.3.9.0.PFJMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.9.0.PFJMIXM/miui_DAVINCIGlobal_V10.3.9.0.PFJMIXM_1b6f5bc7ca_9.0.zip"
                                   >miui_DAVINCIGlobal_V10.3.9.0.PFJMIXM_1b6f5bc7ca_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.9.0.PFJMIXM/davinci_global_images_V10.3.9.0.PFJMIXM_20190712.0000.00_9.0_global_78c1ba9dbe.tgz"
                                   >davinci_global_images_V10.3.9.0.PFJMIXM_20190712.0000.00_9.0_global_78c1ba9dbe.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.3.7.0.PFJMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFJMIXM/miui_DAVINCIGlobal_V10.3.7.0.PFJMIXM_a0622a6370_9.0.zip"
                                   >miui_DAVINCIGlobal_V10.3.7.0.PFJMIXM_a0622a6370_9.0.zip</a>
                            </td>
                            <td>未发布</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.6.0.PFJMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJMIXM/miui_DAVINCIGlobal_V10.3.6.0.PFJMIXM_4879216355_9.0.zip"
                                   >miui_DAVINCIGlobal_V10.3.6.0.PFJMIXM_4879216355_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJMIXM/davinci_global_images_V10.3.6.0.PFJMIXM_20190603.0000.00_9.0_global_a0c4a98edb.tgz"
                                   >davinci_global_images_V10.3.6.0.PFJMIXM_20190603.0000.00_9.0_global_a0c4a98edb.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.5.0.PFJMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFJMIXM/miui_DAVINCIGlobal_V10.3.5.0.PFJMIXM_7d69a41fb1_9.0.zip"
                                   >miui_DAVINCIGlobal_V10.3.5.0.PFJMIXM_7d69a41fb1_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFJMIXM/davinci_global_images_V10.3.5.0.PFJMIXM_20190528.0000.00_9.0_global_4222a49ff1.tgz"
                                   >davinci_global_images_V10.3.5.0.PFJMIXM_20190528.0000.00_9.0_global_4222a49ff1.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="IN_STABLE" class="mdui-p-a-2">
            <div class="mdui-container-fluid">
                <div class="mdui-table-fluid">
                    <table class="mdui-table">
                        <thead>
                            <tr>
                                <th class="mdui-text-color-red">印度稳定版</th>
                                <th>MIUI版本</th>
                                <th>Android版本</th>
                                <th>卡刷包</th>
                                <th>线刷包</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mdui-hidden">
                                <td>5</td>
                                <td>TEXT_HERE</td>
                                <td>9.0 Pie</td>
                                <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                                <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>V11.0.2.0.PFJINXM</td>
                                <td>9.0 Pie</td>
                                <td><a href="http://bigota.d.miui.com/V11.0.2.0.PFJINXM/miui_DAVINCIININGlobal_V11.0.2.0.PFJINXM_45b2a8ac93_9.0.zip">miui_DAVINCIININGlobal_V11.0.2.0.PFJINXM_45b2a8ac93_9.0.zip</a></td>
                                <td>未发布</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>V10.3.8.0.PFJINXM</td>
                                <td>9.0 Pie</td>
                                <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJINXM/miui_DAVINCIININGlobal_V10.3.8.0.PFJINXM_207eaee662_9.0.zip">miui_DAVINCIININGlobal_V10.3.8.0.PFJINXM_207eaee662_9.0.zip</a></td>
                                <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJINXM/davinciin_in_global_images_V10.3.8.0.PFJINXM_20190816.0000.00_9.0_in_f68dcf8608.tgz">davinciin_in_global_images_V10.3.8.0.PFJINXM_20190816.0000.00_9.0_in_f68dcf8608.tgz</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>V10.3.6.0.PFJINXM</td>
                                <td>9.0 Pie</td>
                                <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJINXM/miui_DAVINCIININGlobal_V10.3.6.0.PFJINXM_c4a069be9e_9.0.zip">miui_DAVINCIININGlobal_V10.3.6.0.PFJINXM_c4a069be9e_9.0.zip</a></td>
                                <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJINXM/davinciin_in_global_images_V10.3.6.0.PFJINXM_20190712.0000.00_9.0_in_ebf44c2420.tgz">davinciin_in_global_images_V10.3.6.0.PFJINXM_20190712.0000.00_9.0_in_ebf44c2420.tgz</a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>V10.3.3.0.PFJINXM</td>
                                <td>9.0 Pie</td>
                                <td><a href="http://bigota.d.miui.com/V10.3.3.0.PFJINXM/miui_DAVINCIININGlobal_V10.3.3.0.PFJINXM_599f996c8b_9.0.zip">miui_DAVINCIININGlobal_V10.3.3.0.PFJINXM_599f996c8b_9.0.zip</a></td>
                                <td><a href="http://bigota.d.miui.com/V10.3.3.0.PFJINXM/davinciin_in_global_images_V10.3.3.0.PFJINXM_20190621.0000.00_9.0_in_95bf3310b3.tgz">davinciin_in_global_images_V10.3.3.0.PFJINXM_20190621.0000.00_9.0_in_95bf3310b3.tgz</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    <div id="EEA_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">EEA稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>8</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>7</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>V11.0.2.0.PFJEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V11.0.2.0.PFJEUXM/miui_DAVINCIEEAGlobal_V11.0.2.0.PFJEUXM_e32b086df3_9.0.zip"
                                   >miui_DAVINCIEEAGlobal_V11.0.2.0.PFJEUXM_e32b086df3_9.0.zip</a></td>
                                    <td>未发布</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>V10.3.15.0.PFJEUXM</td>
                            <td>9.0 Pie</td>
                            <td>未发布</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.15.0.PFJEUXM/davinci_eea_global_images_V10.3.15.0.PFJEUXM_20190921.0000.00_9.0_eea_69ac20afc7.tgz"
                                   >davinci_eea_global_images_V10.3.15.0.PFJEUXM_20190921.0000.00_9.0_eea_69ac20afc7.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.3.12.0.PFJEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.12.0.PFJEUXM/miui_DAVINCIEEAGlobal_V10.3.12.0.PFJEUXM_946a02f6df_9.0.zip"
                                   >miui_DAVINCIEEAGlobal_V10.3.12.0.PFJEUXM_946a02f6df_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.12.0.PFJEUXM/davinci_eea_global_images_V10.3.12.0.PFJEUXM_20190801.0000.00_9.0_eea_1d38ae0ec5.tgz"
                                   >davinci_eea_global_images_V10.3.12.0.PFJEUXM_20190801.0000.00_9.0_eea_1d38ae0ec5.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.3.10.0.PFJEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFJEUXM/miui_DAVINCIEEAGlobal_V10.3.10.0.PFJEUXM_01dbcd66d8_9.0.zip"
                                   >miui_DAVINCIEEAGlobal_V10.3.10.0.PFJEUXM_01dbcd66d8_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFJEUXM/davinci_eea_global_images_V10.3.10.0.PFJEUXM_20190715.0000.00_9.0_eea_963b7f3bca.tgz"
                                   >davinci_eea_global_images_V10.3.10.0.PFJEUXM_20190715.0000.00_9.0_eea_963b7f3bca.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.8.0.PFJEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJEUXM/miui_DAVINCIEEAGlobal_V10.3.8.0.PFJEUXM_5820b982aa_9.0.zip"
                                   >miui_DAVINCIEEAGlobal_V10.3.8.0.PFJEUXM_5820b982aa_9.0.zip</a>
                            </td>
                            <td>未发布</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.7.0.PFJEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFJEUXM/miui_DAVINCIEEAGlobal_V10.3.7.0.PFJEUXM_3a2dfaaa18_9.0.zip"
                                   >miui_DAVINCIEEAGlobal_V10.3.7.0.PFJEUXM_3a2dfaaa18_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFJEUXM/davinci_eea_global_images_V10.3.7.0.PFJEUXM_20190602.0000.00_9.0_eea_eab1d1cc52.tgz"
                                   >davinci_eea_global_images_V10.3.7.0.PFJEUXM_20190602.0000.00_9.0_eea_eab1d1cc52.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
    <div id="RU_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">俄罗斯稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>5</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.3.10.0.PFJRUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFJRUXM/miui_DAVINCIRUGlobal_V10.3.10.0.PFJRUXM_0d0ae5a119_9.0.zip"
                                   >miui_DAVINCIRUGlobal_V10.3.10.0.PFJRUXM_0d0ae5a119_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFJRUXM/davinci_ru_global_images_V10.3.10.0.PFJRUXM_20190801.0000.00_9.0_global_6fbab43f85.tgz"
                                   >davinci_ru_global_images_V10.3.10.0.PFJRUXM_20190801.0000.00_9.0_global_6fbab43f85.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.3.8.0.PFJRUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJRUXM/miui_DAVINCIRUGlobal_V10.3.8.0.PFJRUXM_415b2e0500_9.0.zip"
                                   >miui_DAVINCIRUGlobal_V10.3.8.0.PFJRUXM_415b2e0500_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFJRUXM/davinci_ru_global_images_V10.3.8.0.PFJRUXM_20190712.0000.00_9.0_global_381b8a6720.tgz"
                                   >davinci_ru_global_images_V10.3.8.0.PFJRUXM_20190712.0000.00_9.0_global_381b8a6720.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.6.0.PFJRUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFJRUXM/miui_DAVINCIRUGlobal_V10.3.6.0.PFJRUXM_33821877a0_9.0.zip"
                                   >miui_DAVINCIRUGlobal_V10.3.6.0.PFJRUXM_33821877a0_9.0.zip</a>
                            </td>
                            <td>未发布</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.5.0.PFJRUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFJRUXM/miui_DAVINCIRUGlobal_V10.3.5.0.PFJRUXM_85dc409eac_9.0.zip"
                                   >miui_DAVINCIRUGlobal_V10.3.5.0.PFJRUXM_85dc409eac_9.0.zip</a>
                            </td>
                            <td>未发布</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>

    <!-- 由此向下区域为底部Footer的内容 -->
    <div class="mdui-hidden" style=" position:absolute; right:20px;bottom: 5px;">
        <script
            type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1278047585'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278047585%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
    <button class=" mdui-btn mdui-btn-icon mdui-color-deep-orange-accent"
        style="position: fixed; right: 20px;bottom: 40px;"><i class="mdui-icon material-icons"><a href="#top" style="text-decoration: none;color:black;"
               >arrow_upward</a></i>
    </button>
</body>

</html>