<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?67319535f71174561c4472de9a73b0b7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <title>小米CC9e(laurus)官方ROM合集 --By 海力力。</title>
</head>

<body class="mdui-bottom-nav-fixed">
    <div class="mdui-toolbar mdui-color-deep-orange-accent">
        <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
                class="mdui-icon material-icons">menu</i></button>
        <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
            <ul class="mdui-list" mdui-collapse="{accordion: true}">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                    <div class="mdui-list-item-content"><a href="../index.html">回到首页</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">adb</i>
                    <div class="mdui-list-item-content"><a href="../tutorial.html">刷机教程</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">developer_mode</i>
                    <div class="mdui-list-item-content"><a href="weekly/index.html">查看日志</a></div>
                </li>

                <li class="mdui-collapse-item mdui-collapse-item-open">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
                        <div class="mdui-list-item-content">在更机型</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple"><a href="capricorn.html">小米5S(capricorn)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="natrium.html">小米5S Plus(natrium)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="tiffany.html">小米5X(tiffany)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="meri.html">小米5C(meri)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sagit.html">小米6(sagit)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="wayne.html">小米6X(wayne)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="dipper.html">小米8(dipper)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ursa.html">小米8探索版(ursa)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="equuleus.html">小米8屏幕指纹版(equuleus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sirius.html">小米8 SE(sirius)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="platina.html">小米8青春版(platina)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cepheus.html">小米9/透明版(cepheus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="grus.html">小米9 SE(grus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="pyxis.html">小米CC9(pyxis)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="vela.html">小米CC9美图定制版(vela)</a></li>
                        <li class="mdui-list-item mdui-ripple mdui-list-item-active"><a
                                href="laurus.html">小米CC9e(laurus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="oxygen.html">小米Max 2(oxygen)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="nitrogen.html">小米Max 3(nitrogen)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lotus.html">小米Play(lotus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="scorpio.html">小米Note 2(scorpio)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="jason.html">小米Note 3(jason)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lithium.html">小米MIX(lithium)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="chiron.html">小米MIX 2(chiron)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="polaris.html">小米MIX 2S(polaris)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="perseus.html">小米MIX 3(perseus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cappu.html">小米平板3(cappu)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="clover.html">小米平板4/Plus(clover)</a></li>


                        <li class="mdui-list-item mdui-ripple"><a href="santoni.html">红米4X(santoni)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="rosy.html">红米5(rosy)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="riva.html">红米5A(riva)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="vince.html">红米5 Plus(vince)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cereus.html">红米6(cereus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cactus.html">红米6A(cactus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sakura.html">红米6 Pro(sakura)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="onclite.html">Redmi 7(onclite)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="pine.html">Redmi 7A(pine)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="mido.html">红米Note 4X(高通平台)(mido)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="whyred.html">红米Note 5(whyred)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ugglite.html">红米Note 5A 标准版(ugglite)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ugg.html">红米Note 5A 高配版(ugg)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lavender.html">Redmi Note 7(lavender)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="violet.html">Redmi Note 7 Pro(violet)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ginkgo.html">Redmi Note 8(ginkgo)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="begonia.html">Redmi Note 8 Pro(begonia)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="davinci.html">Redmi K20(davinci)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="raphael.html">Redmi K20 Pro(raphael)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="raphaels.html">Redmi K20 Pro尊享版(raphaels)</a>
                        </li>
                    </ul>
                </li>

                <li class="mdui-collapse-item">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices_other</i>
                        <div class="mdui-list-item-content">全部机型</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple"><a href="mioneplus.html">小米手机1</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="index.html">小米手机1青春版</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="index.html">小米手机2</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="index.html">小米手机2S</a></li>
                    </ul>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                    <div class="mdui-list-item-content"><a href="../aboutme.html">站点日志</a></div>
                </li>

            </ul>
        </div>
    </div>

    <div class="mdui-panel mdui-panel-gapless">
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header mdui-text-color-red" style="font-size: 25px;">注：</div>
            <div class="mdui-panel-item-body">
                <ol>
                    <li>机型：小米CC9e 代号：laurus</li>
                    <li>此次更新项目：V10.2.13.0.PFMCNX</li>
                    <li>特别感谢：<a href="https://xiaomifirmwareupdater.com/"
                            style="text-decoration: none;color:blue;">Xiaomi Firmware Updater </a>网站</li>
                    <li>本站点将不收录稳定版灰度内测和开发版内测以及体验版</li>
                    <li>所有线刷都以解锁Bootloader为前提，并且解锁Bootloader时会清除数据，请提前做好备份工作，<a href="http://www.miui.com/unlock"
                            style="text-decoration: none;color:blue;">传送门</a></li>
                    <li>官方刷机工具：<a href="http://bigota.d.miui.com/tools/MiFlash2018-5-28-0.zip"
                            style="text-decoration: none;color:blue;">MiFlash 最新版(2018.5.28)</a>, <a
                            href="https://pan.baidu.com/s/1rR58JraOPJq6R5qOGP_aOw"
                            style="text-decoration: none;color:blue;">小米助手 3.0 beta版</a></li>
                </ol>
                <br>
            </div>
        </div>
    </div>

    <!-- 由此向下区域为ROM的正式内容 -->
    <div class="mdui-row-xs-4 mdui-hidden mdui-row-gapless">
        <div class="mdui-col">
            <button class="mdui-btn mdui-btn-block"><a href="#CN_BETA"
                    style="text-decoration: none;color:black;">国内开发版</a></button>
        </div>
        <div class="mdui-col">
            <button class="mdui-btn mdui-btn-block"><a href="#GB_BETA"
                    style="text-decoration: none;color:black;">国际开发版</a></button>
        </div>
        <div class="mdui-col">
            <button class="mdui-btn mdui-btn-block"><a href="#CN_STABLE"
                    style="text-decoration: none;color:black;">国内稳定版</a></button>
        </div>
        <div class="mdui-col">
            <button class="mdui-btn mdui-btn-block"><a href="#GB_STABLE"
                    style="text-decoration: none;color:black;">国际稳定版</a></button>
        </div>
    </div>

    <div class="mdui-container-fluid mdui-hidden" id="CN_BETA">
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                    <tr>
                        <th class="mdui-text-color-red">国内开发版</th>
                        <th>MIUI版本</th>
                        <th>版本</th>
                        <th>Android版本</th>
                        <th>卡刷包</th>
                        <th>线刷包</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>#</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mdui-container-fluid mdui-hidden" id="GB_BETA">
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                    <tr>
                        <th class="mdui-text-color-red">国际开发版</th>
                        <th>MIUI版本</th>
                        <th>版本</th>
                        <th>Android版本</th>
                        <th>卡刷包</th>
                        <th>线刷包</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>#</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mdui-container-fluid" id="CN_STABLE">
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                    <tr>
                        <th class="mdui-text-color-red">国内稳定版</th>
                        <th>MIUI版本</th>
                        <th>Android版本</th>
                        <th>卡刷包</th>
                        <th>线刷包</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="mdui-hidden">
                        <td>10</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                    <tr class="mdui-hidden">
                        <td>9</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                    <tr class="mdui-hidden">
                        <td>8</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                    <tr class="mdui-hidden">
                        <td>7</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>V10.2.13.0.PFMCNXM</td>
                        <td>9.0 Pie</td>
                        <td><a href="http://bigota.d.miui.com/V10.2.13.0.PFMCNXM/miui_LAURUS_V10.2.13.0.PFMCNXM_5a9706d537_9.0.zip"
                                style="text-decoration: none;color:black;">miui_LAURUS_V10.2.13.0.PFMCNXM_5a9706d537_9.0.zip</a>
                        </td>
                        <td><a href="http://bigota.d.miui.com/V10.2.13.0.PFMCNXM/laurus_images_V10.2.13.0.PFMCNXM_20190830.0000.00_9.0_cn_fc9f51f46d.tgz"
                                style="text-decoration: none;color:black;">laurus_images_V10.2.13.0.PFMCNXM_20190830.0000.00_9.0_cn_fc9f51f46d.tgz</a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>V10.2.12.0.PFMCNXM</td>
                        <td>9.0 Pie</td>
                        <td><a href="http://bigota.d.miui.com/V10.2.12.0.PFMCNXM/miui_LAURUS_V10.2.12.0.PFMCNXM_9c7131b1d0_9.0.zip"
                                style="text-decoration: none;color:black;">miui_LAURUS_V10.2.12.0.PFMCNXM_9c7131b1d0_9.0.zip</a>
                        </td>
                        <td style="text-decoration: none;color:black;">未发布</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>V10.2.11.0.PFMCNXM</td>
                        <td>9.0 Pie</td>
                        <td><a href="http://bigota.d.miui.com/V10.2.11.0.PFMCNXM/miui_LAURUS_V10.2.11.0.PFMCNXM_07bbd0dfa1_9.0.zip"
                                style="text-decoration: none;color:black;">miui_LAURUS_V10.2.11.0.PFMCNXM_07bbd0dfa1_9.0.zip</a>
                        </td>
                        <td style="text-decoration: none;color:black;">未发布</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>V10.2.10.0.PFMCNXM</td>
                        <td>9.0 Pie</td>
                        <td><a href="http://bigota.d.miui.com/V10.2.10.0.PFMCNXM/miui_LAURUS_V10.2.10.0.PFMCNXM_d26ff234f6_9.0.zip"
                                style="text-decoration: none;color:black;">miui_LAURUS_V10.2.10.0.PFMCNXM_d26ff234f6_9.0.zip</a>
                        </td>
                        <td><a href="http://bigota.d.miui.com/V10.2.10.0.PFMCNXM/laurus_images_V10.2.10.0.PFMCNXM_20190723.0000.00_9.0_cn_154c47f4ad.tgz"
                                style="text-decoration: none;color:black;">laurus_images_V10.2.10.0.PFMCNXM_20190723.0000.00_9.0_cn_154c47f4ad.tgz</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>V10.2.8.0.PFMCNXM</td>
                        <td>9.0 Pie</td>
                        <td><a href="http://bigota.d.miui.com/V10.2.8.0.PFMCNXM/miui_LAURUS_V10.2.8.0.PFMCNXM_60b0f2fe60_9.0.zip"
                                style="text-decoration: none;color:black;">miui_LAURUS_V10.2.8.0.PFMCNXM_60b0f2fe60_9.0.zip</a>
                        </td>
                        <td><a href="http://bigota.d.miui.com/V10.2.8.0.PFMCNXM/laurus_images_V10.2.8.0.PFMCNXM_20190704.0000.00_9.0_cn_4a8922559f.tgz"
                                style="text-decoration: none;color:black;">laurus_images_V10.2.8.0.PFMCNXM_20190704.0000.00_9.0_cn_4a8922559f.tgz</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>V10.2.7.0.PFMCNXM</td>
                        <td>9.0 Pie</td>
                        <td><a href="http://bigota.d.miui.com/V10.2.7.0.PFMCNXM/miui_LAURUS_V10.2.7.0.PFMCNXM_e97f175b59_9.0.zip"
                                style="text-decoration: none;color:black;">miui_LAURUS_V10.2.7.0.PFMCNXM_e97f175b59_9.0.zip</a>
                        </td>
                        <td><a href="http://bigota.d.miui.com/V10.2.7.0.PFMCNXM/laurus_images_V10.2.7.0.PFMCNXM_20190620.0000.00_9.0_cn_d350f178a6.tgz"
                                style="text-decoration: none;color:black;">laurus_images_V10.2.7.0.PFMCNXM_20190620.0000.00_9.0_cn_d350f178a6.tgz</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="mdui-container-fluid mdui-hidden" id="GB_STABLE">
        <div class="mdui-table-fluid">
            <table class="mdui-table">
                <thead>
                    <tr>
                        <th class="mdui-text-color-red">国际稳定版</th>
                        <th>MIUI版本</th>
                        <th>Android版本</th>
                        <th>卡刷包</th>
                        <th>线刷包</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>#</td>
                        <td>9.0 Pie</td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- 由此向下区域为底部Footer的内容 -->

    <footer class="mdui-color-grey-700 mdui-bottom-nav" style="height: 120px;">
        <div class="mdui-container-fluid">
            <div class="mdui-row mdui-footer-nav">
                <div class="mdui-col-xs-3">
                    <h3><a href="../aboutme.html" target="_blank" style="font-size: 15px;">关于我</a></h3>
                </div>
                <div class="mdui-col-xs-4">
                    <h3><a href="http://www.miui.com/space-uid-311975809.html" target="_blank"
                            style="font-size: 15px;">我的主页</a></h3>
                </div>
                <div class="mdui-col-xs-5">
                    <h3><a href="https://www.mdui.org" target="_blank" style="font-size: 15px;">使用MDUI打造</a></h3>
                </div>
            </div>
            <div class="mdui-divider footer-divider"></div>
            <p></p>
            <div class="mdui-text-center"">Copyright © 2019 -  </div>
            <div style=" position:absolute; right:20px;bottom: 5px;">
                <script
                    type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1278047585'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278047585%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    </footer>
    <button class=" mdui-btn mdui-btn-icon mdui-color-deep-orange-accent"
        style="position: fixed; right: 20px;bottom: 40px;"><i class="mdui-icon material-icons"><a href="#top"
                style="text-decoration: none;color:black;">arrow_upward</a></i></button>
</body>

</html>