<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
  <title>MIUI官方ROM仓库 --By 海力力。</title>
</head>

<body class="mdui-bottom-nav-fixed">
  <div class="mdui-toolbar mdui-color-deep-orange-accent">
    <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
        class="mdui-icon material-icons">menu</i></button>
    <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
    <div class="mdui-toolbar-spacer"></div>
    <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
      <div class="mdui-list" mdui-collapse="{accordion: true}">
        <a href="index.html" class="mdui-list-item mdui-ripple">首页</a>
        <a href="/weekly/" class="mdui-list-item mdui-ripple">开发版动态</a>
        <a href="mounthly/" class="mdui-list-item mdui-ripple">稳定版动态</a>
        <a href="tutorial.html" class="mdui-list-item mdui-ripple">刷机教程</a>
        <li class="mdui-collapse-item mdui-collapse-item-close">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <div class="mdui-list-item-content">在更机型</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
            <li class="mdui-list-item mdui-ripple"><a href="devices/capricorn.html">小米手机5S</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/natrium.html">小米手机5S Plus</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/tiffany.html">小米手机5X</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/meri.html">小米手机5C</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sagit.html">小米手机6</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/wayne.html">小米手机6X</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/dipper.html">小米手机8</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ursa.html">小米手机8探索版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/equuleus.html">小米手机8屏幕指纹版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sirius.html">小米手机8 SE</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/platina.html">小米手机8青春版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cepheus.html">小米手机9/透明版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/grus.html">小米手机9 SE</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/pyxis.html">小米手机CC9</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/vela.html">小米CC9美图定制版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/laurus.html">小米CC9e</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/oxygen.html">小米手机Max 2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/nitrogen.html">小米手机Max 3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lotus.html">小米手机Play</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/scorpio.html">小米手机Note 2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/jason.html">小米手机Note 3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lithium.html">小米手机MIX</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/chiron.html">小米手机MIX 2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/polaris.html">小米手机MIX 2S</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/perseus.html">小米手机MIX 3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cappu.html">小米平板3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/clover.html">小米平板4/Plus</a></li>


            <li class="mdui-list-item mdui-ripple"><a href="devices/santoni.html">红米4X</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/rosy.html">红米5</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/riva.html">红米5A</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/vince.html">红米5 Plus</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cereus.html">红米6</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cactus.html">红米6A</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sakura.html">红米6 Pro</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/onclite.html">Redmi 7</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/pine.html">Redmi 7A</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/mido.html">红米Note 4X(高通平台)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/whyred.html">红米Note 5</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ugglite.html">红米Note 5A 标准版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ugg.html">红米Note 5A 高配版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lavender.html">Redmi Note 7</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/violet.html">Redmi Note 7 Pro</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ginkgo.html">Redmi Note 8</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/begonia.html">Redmi Note 8 Pro</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/davinci.html">Redmi K20</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/raphael.html">Redmi K20 Pro</a></li>
          </ul>
          </a>
        </li>
        <li class="mdui-collapse-item mdui-collapse-item-open">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <div class="mdui-list-item-content">全部机型</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
            <li class="mdui-list-item mdui-ripple mdui-list-item-active"><a href="devices/mioneplus.html">小米手机1</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/mioneplus.html">小米手机1青春版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/index.html">小米手机2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/index.html">小米手机2S</a></li>
          </ul>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
      </div>
      <a href="aboutme.html" class="mdui-list-item mdui-ripple">关于我</a>
    </div>
  </div>

  <!-- 由此向下区域为ROM的正式内容 -->

<p>尚未完成开发，请等待后续</p>


<div class="mdui-container-fluid">
        <div class="mdui-typo-display-3">国内开发版</div>
                <div class="mdui-table-fluid">
                        <table class="mdui-table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>MIUI版本号</th>
                              <th>Android版本号</th>
                              <th>卡刷包</th>
                              <th>线刷包</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                    <td>#</td>
                                    <td>#</td>
                                    <td>#</td>
                                    <td><a href = "#" style="text-decoration: none;color:black;">#</a></td>
                                    <td><a href ="#" style="text-decoration: none;color:black;">#</a></td>
                                  </tr>
                          </tbody>
                        </table>
                      </div>
        
        </div>



    <!-- 由此向下区域为底部Footer的内容 -->
  <div class="mdui-bottom-nav mdui-color-grey-700">
    <a href="aboutme.html" target="new_blanket" class="mdui-ripple">关于我</a>
    <a href="http://www.miui.com/home.php?mod=space&uid=311975809" target="new_blanket" class="mdui-ripple">我的主页</a>
    <a href="https://www.mdui.org" target="new_blanket" class="mdui-ripple">使用MDUI打造</a>
  </div>
</body>

</html>