<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?67319535f71174561c4472de9a73b0b7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <title>Redmi K20 Pro(raphael)官方ROM合集 --By 海力力。</title>
</head>

<body class="mdui-bottom-nav-fixed">
    <div class="mdui-toolbar mdui-color-deep-orange-accent">
        <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
                class="mdui-icon material-icons">menu</i></button>
        <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
            <ul class="mdui-list" mdui-collapse="{accordion: true}">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                    <div class="mdui-list-item-content"><a href="../index.html">回到首页</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">adb</i>
                    <div class="mdui-list-item-content"><a href="../tutorial.html">刷机教程</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">developer_mode</i>
                    <div class="mdui-list-item-content"><a href="weekly/index.html">查看日志</a></div>
                </li>

                <li class="mdui-collapse-item">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
                        <div class="mdui-list-item-content">小米机型</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple"><a href="capricorn.html">小米5S(capricorn)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="natrium.html">小米5S Plus(natrium)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="tiffany.html">小米5X(tiffany)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="meri.html">小米5C(meri)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sagit.html">小米6(sagit)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="wayne.html">小米6X(wayne)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="dipper.html">小米8(dipper)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ursa.html">小米8探索版(ursa)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="equuleus.html">小米8屏幕指纹版(equuleus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sirius.html">小米8 SE(sirius)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="platina.html">小米8青春版(platina)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cepheus.html">小米9/透明版(cepheus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="crux.html">小米9 Pro 5G(crux)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="grus.html">小米9 SE(grus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="pyxis.html">小米CC9(pyxis)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="vela.html">小米CC9美图定制版(vela)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="laurus.html">小米CC9e(laurus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="oxygen.html">小米Max 2(oxygen)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="nitrogen.html">小米Max 3(nitrogen)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lotus.html">小米Play(lotus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="scorpio.html">小米Note 2(scorpio)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="jason.html">小米Note 3(jason)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lithium.html">小米MIX(lithium)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="chiron.html">小米MIX 2(chiron)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="polaris.html">小米MIX 2S(polaris)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="perseus.html">小米MIX 3(perseus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cappu.html">小米平板3(cappu)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="clover.html">小米平板4/Plus(clover)</a></li>
                    </ul>
                </li>

                <li class="mdui-collapse-item mdui-collapse-item-open">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
                        <div class="mdui-list-item-content">Redmi 机型</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                            <li class="mdui-list-item mdui-ripple"><a href="santoni.html">红米4X(santoni)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="rosy.html">红米5(rosy)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="riva.html">红米5A(riva)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="vince.html">红米5 Plus(vince)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="cereus.html">红米6(cereus)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="cactus.html">红米6A(cactus)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="sakura.html">红米6 Pro(sakura)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="onclite.html">Redmi 7(onclite)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="pine.html">Redmi 7A(pine)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="olive.html">Redmi 8(olive)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="olivelite.html">Redmi 8A(olivelite)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="ysl.html">红米S2(ysl)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="mido.html">红米Note 4X(高通平台)(mido)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="whyred.html">红米Note 5(whyred)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="ugglite.html">红米Note 5A 标准版(ugglite)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="ugg.html">红米Note 5A 高配版(ugg)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="lavender.html">Redmi Note 7(lavender)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="violet.html">Redmi Note 7 Pro(violet)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="ginkgo.html">Redmi Note 8(ginkgo)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="begonia.html">Redmi Note 8 Pro(begonia)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="davinci.html">Redmi K20(davinci)</a></li>
                            <li class="mdui-list-item mdui-ripple mdui-list-item-active"><a href="raphael.html">Redmi K20 Pro(raphael)</a></li>
                            <li class="mdui-list-item mdui-ripple"><a href="raphaels.html">Redmi K20 Pro尊享版(raphaels)</a></li>
                    </ul>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">favorite</i>
                    <div class="mdui-list-item-content"><a href="../thanks.html">衷心感谢</a></div>
                </li>
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                    <div class="mdui-list-item-content"><a href="../aboutme.html">站点日志</a></div>
                </li>

            </ul>
        </div>
    </div>

    <div class="mdui-panel mdui-panel-gapless">
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header mdui-text-color-red" style="font-size: 25px;">注：</div>
            <div class="mdui-panel-item-body">
                <ol>
                    <li>机型：Redmi K20 Pro 代号：raphael</li>
                    <li>此次更新项目：V10.3.1.0.PFKRUXM、V10.3.2.0.PFKRUXM、V10.3.1.0.PFKEUXM、V10.3.3.0.PFKEUXM、V10.3.4.0.PFKEUXM、V10.3.3.0.PFKINXM、V10.3.5.0.PFKINXM、V10.3.1.0.PFKMIXM、V10.3.2.0.PFKMIXM
                    </li>
                    <li>本站点将不收录稳定版灰度内测和开发版内测以及体验版</li>
                    <li>所有线刷都以解锁Bootloader为前提，并且解锁Bootloader时会清除数据，请提前做好备份工作，<a href="http://www.miui.com/unlock"
                            style="text-decoration: none;color:blue;">传送门</a></li>
                    <li>官方刷机工具：<a href="http://bigota.d.miui.com/tools/MiFlash2018-5-28-0.zip"
                            style="text-decoration: none;color:blue;">MiFlash 最新版(2018.5.28)</a>, <a
                            href="https://pan.baidu.com/s/1rR58JraOPJq6R5qOGP_aOw"
                            style="text-decoration: none;color:blue;">小米助手 3.0 beta版</a></li>
                </ol>
                <br>
            </div>
        </div>
    </div>

    <!-- 由此向下区域为ROM的正式内容 -->
    <div><br></div>
    <div class="mdui-tab mdui-tab-full-width mdui-color-white-accent" mdui-tab>
        <a href="#CN_STABLE" class="mdui-ripple">国内稳定版</a>
        <a href="#GB_STABLE" class="mdui-ripple">国际稳定版</a>
        <a href="#IN_STABLE" class="mdui-ripple">印度稳定版</a>
        <a href="#EEA_STABLE" class="mdui-ripple">EEA稳定版</a>
        <a href="#RU_STABLE" class="mdui-ripple">俄罗斯稳定版</a>
    </div>

    <div id="CN_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国内稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>10</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>9</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>8</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>V10.3.17.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.17.0.PFKCNXM/miui_RAPHAEL_V10.3.17.0.PFKCNXM_ccf13bbd55_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.17.0.PFKCNXM_ccf13bbd55_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.17.0.PFKCNXM/raphael_images_V10.3.17.0.PFKCNXM_20190816.0000.00_9.0_cn_708bc652c7.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.17.0.PFKCNXM_20190816.0000.00_9.0_cn_708bc652c7.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>V10.3.16.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.16.0.PFKCNXM/miui_RAPHAEL_V10.3.16.0.PFKCNXM_bd837a758b_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.16.0.PFKCNXM_bd837a758b_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.16.0.PFKCNXM/raphael_images_V10.3.16.0.PFKCNXM_20190718.0000.00_9.0_cn_5219e21351.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.16.0.PFKCNXM_20190718.0000.00_9.0_cn_5219e21351.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>V10.3.15.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.15.0.PFKCNXM/miui_RAPHAEL_V10.3.15.0.PFKCNXM_d88e04e9b5_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.15.0.PFKCNXM_d88e04e9b5_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.15.0.PFKCNXM/raphael_images_V10.3.15.0.PFKCNXM_20190709.0000.00_9.0_cn_280632a259.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.15.0.PFKCNXM_20190709.0000.00_9.0_cn_280632a259.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.3.11.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFKCNXM/miui_RAPHAEL_V10.3.11.0.PFKCNXM_1e15b563e5_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.11.0.PFKCNXM_1e15b563e5_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFKCNXM/raphael_images_V10.3.11.0.PFKCNXM_20190619.0000.00_9.0_cn_cddb6e2d5e.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.11.0.PFKCNXM_20190619.0000.00_9.0_cn_cddb6e2d5e.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.3.8.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFKCNXM/miui_RAPHAEL_V10.3.8.0.PFKCNXM_97881965dc_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.8.0.PFKCNXM_97881965dc_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFKCNXM/raphael_images_V10.3.8.0.PFKCNXM_20190601.0000.00_9.0_cn_beb2b2a432.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.8.0.PFKCNXM_20190601.0000.00_9.0_cn_beb2b2a432.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.7.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFKCNXM/miui_RAPHAEL_V10.3.7.0.PFKCNXM_8073fd7347_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.7.0.PFKCNXM_8073fd7347_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFKCNXM/raphael_images_V10.3.7.0.PFKCNXM_20190528.0000.00_9.0_cn_8b5bfd6d56.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.7.0.PFKCNXM_20190528.0000.00_9.0_cn_8b5bfd6d56.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.6.0.PFKCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFKCNXM/miui_RAPHAEL_V10.3.6.0.PFKCNXM_e679907a50_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAEL_V10.3.6.0.PFKCNXM_e679907a50_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFKCNXM/raphael_images_V10.3.6.0.PFKCNXM_20190516.0000.00_9.0_cn_ed862b8182.tgz"
                                    style="text-decoration: none;color:black;">raphael_images_V10.3.6.0.PFKCNXM_20190516.0000.00_9.0_cn_ed862b8182.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="GB_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国际稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>5</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>4</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>3</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.2.0.PFKMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.2.0.PFKMIXM/miui_RAPHAELGlobal_V10.3.2.0.PFKMIXM_55396ac730_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELGlobal_V10.3.2.0.PFKMIXM_55396ac730_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.2.0.PFKMIXM/raphael_global_images_V10.3.2.0.PFKMIXM_20190911.0000.00_9.0_global_a11e2330ec.tgz"
                                    style="text-decoration: none;color:black;">raphael_global_images_V10.3.2.0.PFKMIXM_20190911.0000.00_9.0_global_a11e2330ec.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.1.0.PFKMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKMIXM/miui_RAPHAELGlobal_V10.3.1.0.PFKMIXM_3624902ebc_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELGlobal_V10.3.1.0.PFKMIXM_3624902ebc_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKMIXM/raphael_global_images_V10.3.1.0.PFKMIXM_20190805.0000.00_9.0_global_135788d537.tgz"
                                    style="text-decoration: none;color:black;">raphael_global_images_V10.3.1.0.PFKMIXM_20190805.0000.00_9.0_global_135788d537.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="IN_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">印度稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>5</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>4</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>3</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.5.0.PFKINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFKINXM/miui_RAPHAELININGlobal_V10.3.5.0.PFKINXM_f924323a4b_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELININGlobal_V10.3.5.0.PFKINXM_f924323a4b_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFKINXM/raphaelin_in_global_images_V10.3.5.0.PFKINXM_20190816.0000.00_9.0_in_5d0a303019.tgz"
                                    style="text-decoration: none;color:black;">raphaelin_in_global_images_V10.3.5.0.PFKINXM_20190816.0000.00_9.0_in_5d0a303019.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.1.0.PFKMIXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKMIXM/miui_RAPHAELGlobal_V10.3.1.0.PFKMIXM_3624902ebc_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELGlobal_V10.3.1.0.PFKMIXM_3624902ebc_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.3.0.PFKINXM/raphaelin_in_global_images_V10.3.3.0.PFKINXM_20190711.0000.00_9.0_in_a1c0a15dec.tgz"
                                    style="text-decoration: none;color:black;">raphaelin_in_global_images_V10.3.3.0.PFKINXM_20190711.0000.00_9.0_in_a1c0a15dec.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id="EEA_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">EEA稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>5</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>4</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.3.4.0.PFKEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.4.0.PFKEUXM/miui_RAPHAELEEAGlobal_V10.3.4.0.PFKEUXM_964826982c_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELEEAGlobal_V10.3.4.0.PFKEUXM_964826982c_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.4.0.PFKEUXM/raphael_eea_global_images_V10.3.4.0.PFKEUXM_20190923.0000.00_9.0_eea_65ad59b1cb.tgz"
                                    style="text-decoration: none;color:black;">raphael_eea_global_images_V10.3.4.0.PFKEUXM_20190923.0000.00_9.0_eea_65ad59b1cb.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.3.0.PFKEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.3.0.PFKEUXM/miui_RAPHAELEEAGlobal_V10.3.3.0.PFKEUXM_52bd3959c9_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELEEAGlobal_V10.3.3.0.PFKEUXM_52bd3959c9_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.3.0.PFKEUXM/raphael_eea_global_images_V10.3.3.0.PFKEUXM_20190903.0000.00_9.0_eea_1ff82a2c11.tgz"
                                    style="text-decoration: none;color:black;">raphael_eea_global_images_V10.3.3.0.PFKEUXM_20190903.0000.00_9.0_eea_1ff82a2c11.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.1.0.PFKEUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKEUXM/miui_RAPHAELEEAGlobal_V10.3.1.0.PFKEUXM_c82be5a2b9_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELEEAGlobal_V10.3.1.0.PFKEUXM_c82be5a2b9_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKEUXM/raphael_eea_global_images_V10.3.1.0.PFKEUXM_20190723.0000.00_9.0_eea_f70f6415ea.tgz"
                                    style="text-decoration: none;color:black;">raphael_eea_global_images_V10.3.1.0.PFKEUXM_20190723.0000.00_9.0_eea_f70f6415ea.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id="RU_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">俄罗斯稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>5</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>4</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>3</td>
                            <td>TEXT_HERE</td>
                            <td>9.0 Pie</td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                            <td><a href="TEXT_HERE" style="text-decoration: none;color:black;">TEXT_HERE</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.3.2.0.PFKRUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.2.0.PFKRUXM/miui_RAPHAELRUGlobal_V10.3.2.0.PFKRUXM_e5860ca9dd_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELRUGlobal_V10.3.2.0.PFKRUXM_e5860ca9dd_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.2.0.PFKRUXM/raphael_ru_global_images_V10.3.2.0.PFKRUXM_20190911.0000.00_9.0_global_dec1d83c83.tgz"
                                    style="text-decoration: none;color:black;">raphael_ru_global_images_V10.3.2.0.PFKRUXM_20190911.0000.00_9.0_global_dec1d83c83.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.3.1.0.PFKRUXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKRUXM/miui_RAPHAELRUGlobal_V10.3.1.0.PFKRUXM_d51ffde193_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_RAPHAELRUGlobal_V10.3.1.0.PFKRUXM_d51ffde193_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.1.0.PFKRUXM/raphael_ru_global_images_V10.3.1.0.PFKRUXM_20190730.0000.00_9.0_global_98e767cbae.tgz"
                                    style="text-decoration: none;color:black;">raphael_ru_global_images_V10.3.1.0.PFKRUXM_20190730.0000.00_9.0_global_98e767cbae.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- 由此向下区域为底部Footer的内容 -->

    <div class="mdui-hidden" style=" position:absolute; right:20px;bottom: 5px;">
        <script
            type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1278047585'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278047585%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
    <button class=" mdui-btn mdui-btn-icon mdui-color-deep-orange-accent"
        style="position: fixed; right: 20px;bottom: 40px;"><i class="mdui-icon material-icons"><a href="#top"
                style="text-decoration: none;color:black;">arrow_upward</a></i>
    </button>
</body>

</html>