<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?67319535f71174561c4472de9a73b0b7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <title>Redmi Note 7 Pro(violet)官方ROM合集 --By 海力力。</title>
</head>

<body>
    <div class="mdui-toolbar mdui-color-deep-orange-accent">
        <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
                class="mdui-icon material-icons">menu</i></button>
        <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
            <ul class="mdui-list" mdui-collapse="{accordion: true}">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                    <div class="mdui-list-item-content"><a href="../index.html">回到首页</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">adb</i>
                    <div class="mdui-list-item-content"><a href="../tutorial.html">刷机教程</a></div>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">developer_mode</i>
                    <div class="mdui-list-item-content"><a href="weekly/index.html">查看日志</a></div>
                </li>

                <li class="mdui-collapse-item mdui-collapse-item-open">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
                        <div class="mdui-list-item-content">在更机型</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple"><a href="capricorn.html">小米5S(capricorn)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="natrium.html">小米5S Plus(natrium)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="tiffany.html">小米5X(tiffany)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="meri.html">小米5C(meri)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sagit.html">小米6(sagit)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="wayne.html">小米6X(wayne)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="dipper.html">小米8(dipper)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ursa.html">小米8探索版(ursa)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="equuleus.html">小米8屏幕指纹版(equuleus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sirius.html">小米8 SE(sirius)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="platina.html">小米8青春版(platina)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cepheus.html">小米9/透明版(cepheus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="crux.html">小米9 Pro 5G(crux)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="grus.html">小米9 SE(grus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="pyxis.html">小米CC9(pyxis)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="vela.html">小米CC9美图定制版(vela)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="laurus.html">小米CC9e(laurus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="oxygen.html">小米Max 2(oxygen)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="nitrogen.html">小米Max 3(nitrogen)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lotus.html">小米Play(lotus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="scorpio.html">小米Note 2(scorpio)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="jason.html">小米Note 3(jason)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lithium.html">小米MIX(lithium)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="chiron.html">小米MIX 2(chiron)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="polaris.html">小米MIX 2S(polaris)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="perseus.html">小米MIX 3(perseus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cappu.html">小米平板3(cappu)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="clover.html">小米平板4/Plus(clover)</a></li>


                        <li class="mdui-list-item mdui-ripple"><a href="santoni.html">红米4X(santoni)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="rosy.html">红米5(rosy)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="riva.html">红米5A(riva)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="vince.html">红米5 Plus(vince)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cereus.html">红米6(cereus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="cactus.html">红米6A(cactus)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="sakura.html">红米6 Pro(sakura)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="onclite.html">Redmi 7(onclite)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="pine.html">Redmi 7A(pine)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="mido.html">红米Note 4X(高通平台)(mido)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="whyred.html">红米Note 5(whyred)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ugglite.html">红米Note 5A 标准版(ugglite)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ugg.html">红米Note 5A 高配版(ugg)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="lavender.html">Redmi Note 7(lavender)</a></li>
                        <li class="mdui-list-item mdui-ripple mdui-list-item-active"><a href="violet.html">Redmi Note 7
                                Pro(violet)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="ginkgo.html">Redmi Note 8(ginkgo)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="begonia.html">Redmi Note 8 Pro(begonia)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="davinci.html">Redmi K20(davinci)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="raphael.html">Redmi K20 Pro(raphael)</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="raphaels.html">Redmi K20 Pro尊享版(raphaels)</a>
                        </li>
                    </ul>
                </li>

                <li class="mdui-collapse-item">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">devices_other</i>
                        <div class="mdui-list-item-content">全部机型</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <li class="mdui-list-item mdui-ripple"><a href="mioneplus.html">小米手机1</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="index.html">小米手机1青春版</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="index.html">小米手机2</a></li>
                        <li class="mdui-list-item mdui-ripple"><a href="index.html">小米手机2S</a></li>
                    </ul>
                </li>

                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                    <div class="mdui-list-item-content"><a href="../aboutme.html">站点日志</a></div>
                </li>

            </ul>
        </div>
    </div>

    <div class="mdui-panel mdui-panel-gapless">
        <div class="mdui-panel-item mdui-panel-item-open">
            <div class="mdui-panel-item-header mdui-text-color-red" style="font-size: 25px;">注：</div>
            <div class="mdui-panel-item-body">
                <ol>
                    <li>机型：Redmi Note 7 Pro 代号：violet</li>
                    <li>此次更新项目：开发版MIUI10 9.9.3</li>
                    <li>特别感谢：<a href="https://xiaomifirmwareupdater.com/"
                            style="text-decoration: none;color:blue;">Xiaomi Firmware Updater </a>网站</li>
                    <li>本站点将不收录稳定版灰度内测和开发版内测以及体验版</li>
                    <li>所有线刷都以解锁Bootloader为前提，并且解锁Bootloader时会清除数据，请提前做好备份工作，<a href="http://www.miui.com/unlock"
                            style="text-decoration: none;color:blue;">传送门</a></li>
                    <li>官方刷机工具：<a href="http://bigota.d.miui.com/tools/MiFlash2018-5-28-0.zip"
                            style="text-decoration: none;color:blue;">MiFlash 最新版(2018.5.28)</a>, <a
                            href="https://pan.baidu.com/s/1rR58JraOPJq6R5qOGP_aOw"
                            style="text-decoration: none;color:blue;">小米助手 3.0 beta版</a></li>
                </ol>
                <br>
            </div>
        </div>
    </div>

    <!-- 由此向下区域为ROM的正式内容 -->

    <div><br></div>
    <div class="mdui-tab mdui-tab-full-width mdui-color-white-accent" mdui-tab>
        <a href="#CN_BETA" class="mdui-ripple">国内开发版</a>
        <a href="#CN_STABLE" class="mdui-ripple">国内稳定版</a>
        <a href="#IN_STABLE" class="mdui-ripple">印度稳定版</a>
    </div>
    <div id="CN_BETA" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国内开发版</th>
                            <th>MIUI版本</th>
                            <th>版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>17</td>
                            <td>MIUI10</td>
                            <td>#</td>
                            <td>9.0 Pie</td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        </tr>
                        <tr class="mdui-hidden">
                            <td>16</td>
                            <td>MIUI10</td>
                            <td>#</td>
                            <td>9.0 Pie</td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>MIUI10</td>
                            <td>9.9.3</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.9.3/miui_VIOLET_9.9.3_79d3ccd33b_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.9.3_79d3ccd33b_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.9.3/violet_images_9.9.3_20190904.0000.00_9.0_cn_0a618fdc7b.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.9.3_20190904.0000.00_9.0_cn_0a618fdc7b.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>MIUI10</td>
                            <td>9.8.22</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.8.22/miui_VIOLET_9.8.22_bdf4f2d7c1_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.8.22_bdf4f2d7c1_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.8.22/violet_images_9.8.22_20190822.0000.00_9.0_cn_5b403c05b8.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.8.22_20190822.0000.00_9.0_cn_5b403c05b8.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>MIUI10</td>
                            <td>9.8.15</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.8.15/miui_VIOLET_9.8.15_e8055d326d_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.8.15_e8055d326d_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.8.15/violet_images_9.8.15_20190815.0000.00_9.0_cn_bff722516b.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.8.15_20190815.0000.00_9.0_cn_bff722516b.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>MIUI10</td>
                            <td>9.8.9</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.8.9/miui_VIOLET_9.8.9_601e2c82fb_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.8.9_601e2c82fb_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.8.9/violet_images_9.8.9_20190809.0000.00_9.0_cn_100048b7eb.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.8.9_20190809.0000.00_9.0_cn_100048b7eb.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>MIUI10</td>
                            <td>9.8.1</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.8.1/miui_VIOLET_9.8.1_08f4d6c279_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.8.1_08f4d6c279_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.8.1/violet_images_9.8.1_20190801.0000.00_9.0_cn_e562c34b21.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.8.1_20190801.0000.00_9.0_cn_e562c34b21.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>MIUI10</td>
                            <td>9.7.25</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.7.25/miui_VIOLET_9.7.25_b784f59c29_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.7.25_b784f59c29_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.7.25/violet_images_9.7.25_20190725.0000.00_9.0_cn_493c64cd6f.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.7.25_20190725.0000.00_9.0_cn_493c64cd6f.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>MIUI10</td>
                            <td>9.7.18</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.7.18/miui_VIOLET_9.7.18_f8a18aa36e_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.7.18_f8a18aa36e_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.7.18/violet_images_9.7.18_20190718.0000.00_9.0_cn_fcd79a2e85.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.7.18_20190718.0000.00_9.0_cn_fcd79a2e85.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>MIUI10</td>
                            <td>9.7.11</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.7.11/miui_VIOLET_9.7.11_b634595fc9_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.7.11_b634595fc9_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.7.11/violet_images_9.7.11_20190711.0000.00_9.0_cn_6dc1214dc2.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.7.11_20190711.0000.00_9.0_cn_6dc1214dc2.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>MIUI10</td>
                            <td>9.7.4</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.7.4/miui_VIOLET_9.7.4_8f73ae6920_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.7.4_8f73ae6920_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.7.4/violet_images_9.7.4_20190704.0000.00_9.0_cn_4529377a2a.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.7.4_20190704.0000.00_9.0_cn_4529377a2a.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>MIUI10</td>
                            <td>9.6.27</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.6.27/miui_VIOLET_9.6.27_f06ba1b31d_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.6.27_f06ba1b31d_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.6.27/violet_images_9.6.27_20190627.0000.00_9.0_cn_261541bdfd.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.6.27_20190627.0000.00_9.0_cn_261541bdfd.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>MIUI10</td>
                            <td>9.6.20</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.6.20/miui_VIOLET_9.6.20_52aa4c2f4b_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.6.20_52aa4c2f4b_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.6.20/violet_images_9.6.20_20190620.0000.00_9.0_cn_e25cc08658.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.6.20_20190620.0000.00_9.0_cn_e25cc08658.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MIUI10</td>
                            <td>9.6.13</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.6.13/miui_VIOLET_9.6.13_1e08cec4a6_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.6.13_1e08cec4a6_9.0.zip</a>
                            </td>
                            <td style="text-decoration: none;color:black;">未发布</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>MIUI10</td>
                            <td>9.5.30</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.5.30/miui_VIOLET_9.5.30_902f53eaa3_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.5.30_902f53eaa3_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.5.30/violet_images_9.5.30_20190530.0000.00_9.0_cn_033dfd2bd9.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.5.30_20190530.0000.00_9.0_cn_033dfd2bd9.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>MIUI10</td>
                            <td>9.5.23</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.5.23/miui_VIOLET_9.5.23_a8cd82a853_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.5.23_a8cd82a853_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.5.23/violet_images_9.5.23_20190523.0000.00_9.0_cn_4ec6528a0c.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.5.23_20190523.0000.00_9.0_cn_4ec6528a0c.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>MIUI10</td>
                            <td>9.5.16</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/9.5.16/miui_VIOLET_9.5.16_6eeb0dcfb8_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_9.5.16_6eeb0dcfb8_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/9.5.16/violet_images_9.5.16_20190516.0000.00_9.0_cn_2d245a4a18.tgz"
                                    style="text-decoration: none;color:black;">violet_images_9.5.16_20190516.0000.00_9.0_cn_2d245a4a18.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="CN_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">国内稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>11</td>
                            <td>#</td>
                            <td>9.0 Pie</td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>V10.3.11.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFHCNXM/miui_VIOLET_V10.3.11.0.PFHCNXM_ab1b0c15b1_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.11.0.PFHCNXM_ab1b0c15b1_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFHCNXM/violet_images_V10.3.11.0.PFHCNXM_20190812.0000.00_9.0_cn_702882441e.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.11.0.PFHCNXM_20190812.0000.00_9.0_cn_702882441e.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>V10.3.9.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.9.0.PFHCNXM/miui_VIOLET_V10.3.9.0.PFHCNXM_ecd8283ce3_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.9.0.PFHCNXM_ecd8283ce3_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.9.0.PFHCNXM/violet_images_V10.3.9.0.PFHCNXM_20190703.0000.00_9.0_cn_d2831bf879.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.9.0.PFHCNXM_20190703.0000.00_9.0_cn_d2831bf879.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>V10.3.8.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFHCNXM/miui_VIOLET_V10.3.8.0.PFHCNXM_57ce442583_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.8.0.PFHCNXM_57ce442583_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.8.0.PFHCNXM/violet_images_V10.3.8.0.PFHCNXM_20190621.0000.00_9.0_cn_69d4317591.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.8.0.PFHCNXM_20190621.0000.00_9.0_cn_69d4317591.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>V10.3.6.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFHCNXM/miui_VIOLET_V10.3.6.0.PFHCNXM_8c67bdc758_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.6.0.PFHCNXM_8c67bdc758_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.6.0.PFHCNXM/violet_images_V10.3.6.0.PFHCNXM_20190604.0000.00_9.0_cn_e5062d168d.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.6.0.PFHCNXM_20190604.0000.00_9.0_cn_e5062d168d.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>V10.3.5.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFHCNXM/miui_VIOLET_V10.3.5.0.PFHCNXM_4bdf98d05f_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.5.0.PFHCNXM_4bdf98d05f_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFHCNXM/violet_images_V10.3.5.0.PFHCNXM_20190510.0000.00_9.0_cn_acb5f32f11.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.5.0.PFHCNXM_20190510.0000.00_9.0_cn_acb5f32f11.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>V10.3.11.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFHCNXM/miui_VIOLET_V10.3.11.0.PFHCNXM_ab1b0c15b1_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.11.0.PFHCNXM_ab1b0c15b1_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.11.0.PFHCNXM/violet_images_V10.3.11.0.PFHCNXM_20190812.0000.00_9.0_cn_702882441e.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.11.0.PFHCNXM_20190812.0000.00_9.0_cn_702882441e.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.3.10.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFHCNXM/miui_VIOLET_V10.3.10.0.PFHCNXM_fe274086b6_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.3.10.0.PFHCNXM_fe274086b6_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFHCNXM/violet_images_V10.3.10.0.PFHCNXM_20190725.0000.00_9.0_cn_4147db1de1.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.3.10.0.PFHCNXM_20190725.0000.00_9.0_cn_4147db1de1.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.2.8.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.8.0.PFHCNXM/miui_VIOLET_V10.2.8.0.PFHCNXM_b7cc19ccd8_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.2.8.0.PFHCNXM_b7cc19ccd8_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.8.0.PFHCNXM/violet_images_V10.2.8.0.PFHCNXM_20190423.0000.00_9.0_cn_ae91a09e68.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.2.8.0.PFHCNXM_20190423.0000.00_9.0_cn_ae91a09e68.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.2.6.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.6.0.PFHCNXM/miui_VIOLET_V10.2.6.0.PFHCNXM_58a985074b_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.2.6.0.PFHCNXM_58a985074b_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.6.0.PFHCNXM/violet_images_V10.2.6.0.PFHCNXM_20190404.0000.00_9.0_cn_06350797b7.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.2.6.0.PFHCNXM_20190404.0000.00_9.0_cn_06350797b7.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.2.5.0.PFHCNXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.5.0.PFHCNXM/miui_VIOLET_V10.2.5.0.PFHCNXM_6b8f26446b_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLET_V10.2.5.0.PFHCNXM_6b8f26446b_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.5.0.PFHCNXM/violet_images_V10.2.5.0.PFHCNXM_20190316.0000.00_9.0_cn_8e2009cdc7.tgz"
                                    style="text-decoration: none;color:black;">violet_images_V10.2.5.0.PFHCNXM_20190316.0000.00_9.0_cn_8e2009cdc7.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="IN_STABLE" class="mdui-p-a-2">
        <div class="mdui-container-fluid">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <thead>
                        <tr>
                            <th class="mdui-text-color-red">印度稳定版</th>
                            <th>MIUI版本</th>
                            <th>Android版本</th>
                            <th>卡刷包</th>
                            <th>线刷包</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mdui-hidden">
                            <td>12</td>
                            <td>#</td>
                            <td>9.0 Pie</td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                            <td><a href="#" style="text-decoration: none;color:black;">#</a></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>V10.3.13.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.13.0.PFHINXM/miui_VIOLETINGlobal_V10.3.13.0.PFHINXM_6e7dae0213_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.13.0.PFHINXM_6e7dae0213_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.13.0.PFHINXM/violet_in_global_images_V10.3.13.0.PFHINXM_20190812.0000.00_9.0_in_842105c600.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.3.13.0.PFHINXM_20190812.0000.00_9.0_in_842105c600.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>V10.3.9.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.9.0.PFHINXM/miui_VIOLETINGlobal_V10.3.9.0.PFHINXM_64b7a2beef_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.9.0.PFHINXM_64b7a2beef_9.0.zip</a>
                            </td>
                            <td style="text-decoration: none;color:black;">未发布</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>V10.3.7.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFHINXM/miui_VIOLETINGlobal_V10.3.7.0.PFHINXM_ce5c2d34d7_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.7.0.PFHINXM_ce5c2d34d7_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.7.0.PFHINXM/violet_in_global_images_V10.3.7.0.PFHINXM_20190524.0000.00_9.0_in_4eda76945a.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.3.7.0.PFHINXM_20190524.0000.00_9.0_in_4eda76945a.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>V10.3.5.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFHINXM/miui_VIOLETINGlobal_V10.3.5.0.PFHINXM_583cb2f6fe_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.5.0.PFHINXM_583cb2f6fe_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.5.0.PFHINXM/violet_in_global_images_V10.3.5.0.PFHINXM_20190510.0000.00_9.0_in_ecff2a36ed.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.3.5.0.PFHINXM_20190510.0000.00_9.0_in_ecff2a36ed.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>V10.3.13.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.13.0.PFHINXM/miui_VIOLETINGlobal_V10.3.13.0.PFHINXM_6e7dae0213_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.13.0.PFHINXM_6e7dae0213_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.13.0.PFHINXM/violet_in_global_images_V10.3.13.0.PFHINXM_20190812.0000.00_9.0_in_842105c600.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.3.13.0.PFHINXM_20190812.0000.00_9.0_in_842105c600.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>V10.3.12.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.12.0.PFHINXM/miui_VIOLETINGlobal_V10.3.12.0.PFHINXM_3611af78c9_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.12.0.PFHINXM_3611af78c9_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.12.0.PFHINXM/violet_in_global_images_V10.3.12.0.PFHINXM_20190712.0000.00_9.0_in_0db744559a.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.3.12.0.PFHINXM_20190712.0000.00_9.0_in_0db744559a.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>V10.3.10.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFHINXM/miui_VIOLETINGlobal_V10.3.10.0.PFHINXM_931e2b6f4d_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.3.10.0.PFHINXM_931e2b6f4d_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.3.10.0.PFHINXM/violet_in_global_images_V10.3.10.0.PFHINXM_20190701.0000.00_9.0_in_a0aec4a8f8.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.3.10.0.PFHINXM_20190701.0000.00_9.0_in_a0aec4a8f8.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>V10.2.8.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.8.0.PFHINXM/miui_VIOLETINGlobal_V10.2.8.0.PFHINXM_997265e49a_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.2.8.0.PFHINXM_997265e49a_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.8.0.PFHINXM/violet_in_global_images_V10.2.8.0.PFHINXM_20190404.0000.00_9.0_in_8077b0ebce.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.2.8.0.PFHINXM_20190404.0000.00_9.0_in_8077b0ebce.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>V10.2.7.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.7.0.PFHINXM/miui_VIOLETINGlobal_V10.2.7.0.PFHINXM_4c99677d51_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.2.7.0.PFHINXM_4c99677d51_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.7.0.PFHINXM/violet_in_global_images_V10.2.7.0.PFHINXM_20190316.0000.00_9.0_in_99b128ebb6.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.2.7.0.PFHINXM_20190316.0000.00_9.0_in_99b128ebb6.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>V10.2.6.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.6.0.PFHINXM/miui_VIOLETINGlobal_V10.2.6.0.PFHINXM_740e20a9f5_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.2.6.0.PFHINXM_740e20a9f5_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.6.0.PFHINXM/violet_in_global_images_V10.2.6.0.PFHINXM_20190313.0000.00_9.0_in_fbc67b2e87.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.2.6.0.PFHINXM_20190313.0000.00_9.0_in_fbc67b2e87.tgz</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>V10.2.10.0.PFHINXM</td>
                            <td>9.0 Pie</td>
                            <td><a href="http://bigota.d.miui.com/V10.2.10.0.PFHINXM/miui_VIOLETINGlobal_V10.2.10.0.PFHINXM_3788e2b1a6_9.0.zip"
                                    style="text-decoration: none;color:black;">miui_VIOLETINGlobal_V10.2.10.0.PFHINXM_3788e2b1a6_9.0.zip</a>
                            </td>
                            <td><a href="http://bigota.d.miui.com/V10.2.10.0.PFHINXM/violet_in_global_images_V10.2.10.0.PFHINXM_20190424.0000.00_9.0_in_56ff3e7dd2.tgz"
                                    style="text-decoration: none;color:black;">violet_in_global_images_V10.2.10.0.PFHINXM_20190424.0000.00_9.0_in_56ff3e7dd2.tgz</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 由此向下区域为底部Footer的内容 -->

    <footer class="mdui-color-grey-700 mdui-bottom-nav" style="height: 120px;">
        <div class="mdui-container-fluid">
            <div class="mdui-row mdui-footer-nav">
                <div class="mdui-col-xs-3">
                    <h3><a href="../aboutme.html" target="_blank" style="font-size: 15px;">关于我</a></h3>
                </div>
                <div class="mdui-col-xs-4">
                    <h3><a href="http://www.miui.com/space-uid-311975809.html" target="_blank"
                            style="font-size: 15px;">我的主页</a></h3>
                </div>
                <div class="mdui-col-xs-5">
                    <h3><a href="https://www.mdui.org" target="_blank" style="font-size: 15px;">使用MDUI打造</a></h3>
                </div>
            </div>
            <div class="mdui-divider footer-divider"></div>
            <p></p>
            <div class="mdui-text-center"">自 2019 - 至今 </div>
            <div style=" position:absolute; right:20px;bottom: 5px;">
                <script
                    type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1278047585'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278047585%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    </footer>
    <button class=" mdui-btn mdui-btn-icon mdui-color-deep-orange-accent"
        style="position: fixed; right: 20px;bottom: 40px;"><i class="mdui-icon material-icons"><a href="#top"
                style="text-decoration: none;color:black;">arrow_upward</a></i></button>
</body>

</html>