<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="chinaz-site-verification" content="5BDB6F3CEC5D6F6F">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?67319535f71174561c4472de9a73b0b7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <title>MIUI官方ROM仓库 --By 海力力。</title>
</head>

<body>
  <div class="mdui-toolbar mdui-color-deep-orange-accent">
    <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
        class="mdui-icon material-icons">menu</i></button>
    <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
    <div class="mdui-toolbar-spacer"></div>
    <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
      <ul class="mdui-list" mdui-collapse="{accordion: true}">
        <li class="mdui-list-item mdui-ripple mdui-list-item-active">
          <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
          <div class="mdui-list-item-content"><a href="index.html">首页</a></div>
        </li>

        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">adb</i>
          <div class="mdui-list-item-content"><a href="tutorial.html">刷机教程</a></div>
        </li>

        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">developer_mode</i>
          <div class="mdui-list-item-content"><a href="weekly/index.html">查看日志</a></div>
        </li>


        <li class="mdui-collapse-item">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
            <div class="mdui-list-item-content">小米机型</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
            <li class="mdui-list-item mdui-ripple"><a href="devices/capricorn.html">小米5S(capricorn)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/natrium.html">小米5S Plus(natrium)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/tiffany.html">小米5X(tiffany)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/meri.html">小米5C(meri)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sagit.html">小米6(sagit)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/wayne.html">小米6X(wayne)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/dipper.html">小米8(dipper)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ursa.html">小米8探索版(ursa)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/equuleus.html">小米8屏幕指纹版(equuleus)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sirius.html">小米8 SE(sirius)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/platina.html">小米8青春版(platina)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cepheus.html">小米9/透明版(cepheus)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/crux.html">小米9 Pro 5G(crux)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/grus.html">小米9 SE(grus)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/pyxis.html">小米CC9(pyxis)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/vela.html">小米CC9美图定制版(vela)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/laurus.html">小米CC9e(laurus)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/oxygen.html">小米Max 2(oxygen)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/nitrogen.html">小米Max 3(nitrogen)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lotus.html">小米Play(lotus)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/scorpio.html">小米Note 2(scorpio)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/jason.html">小米Note 3(jason)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lithium.html">小米MIX(lithium)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/chiron.html">小米MIX 2(chiron)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/polaris.html">小米MIX 2S(polaris)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/perseus.html">小米MIX 3(perseus)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cappu.html">小米平板3(cappu)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/clover.html">小米平板4/Plus(clover)</a></li>
          </ul>
        </li>

        <li class="mdui-collapse-item">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
            <div class="mdui-list-item-content">Redmi 机型</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
              <li class="mdui-list-item mdui-ripple"><a href="devices/santoni.html">红米4X(santoni)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/rosy.html">红米5(rosy)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/riva.html">红米5A(riva)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/vince.html">红米5 Plus(vince)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/cereus.html">红米6(cereus)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/cactus.html">红米6A(cactus)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/sakura.html">红米6 Pro(sakura)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/onclite.html">Redmi 7(onclite)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/pine.html">Redmi 7A(pine)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/olive.html">Redmi 8(olive)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/olivelite.html">Redmi 8A(olivelite)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/mido.html">红米Note 4X(高通平台)(mido)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/whyred.html">红米Note 5(whyred)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/ugglite.html">红米Note 5A 标准版(ugglite)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/ugg.html">红米Note 5A 高配版(ugg)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/lavender.html">Redmi Note 7(lavender)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/violet.html">Redmi Note 7 Pro(violet)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/ginkgo.html">Redmi Note 8(ginkgo)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/begonia.html">Redmi Note 8 Pro(begonia)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/davinci.html">Redmi K20(davinci)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/raphael.html">Redmi K20 Pro(raphael)</a></li>
              <li class="mdui-list-item mdui-ripple"><a href="devices/raphaels.html">Redmi K20 Pro尊享版(raphaels)</a></li>
          </ul>
        </li>
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">group_add</i>
          <div class="mdui-list-item-content"><a href="recruit.html">诚招群员</a></div>
        </li>
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">favorite</i>
          <div class="mdui-list-item-content"><a href="thanks.html">衷心感谢</a></div>
        </li>
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
          <div class="mdui-list-item-content"><a href="aboutme.html">站点日志</a></div>
        </li>

      </ul>
    </div>
  </div>

  <div class "mdui-container">

    <div class="mdui-panel mdui-panel-gapless">
      <div class="mdui-panel-item mdui-panel-item-open">
          <div class="mdui-panel-item-header mdui-text-color-red">更新日期：2019.10.19</div>
          <div class="mdui-panel-item-body">
              <p>站点版本：V0.2.1-SNAPSHOT</p>
              <p>更新日志：
                  <ul>
                      <li>新增支持：小米Max3;</li>
                      <li>补充部分加入"防回刷"功能机型的提醒内容;</li>
                      <li>第一批12个机型的MIUI11已经收录完毕;</li>
                      <li>正式公布<a href="bin.html" style="text-decoration: none;color:blue;">回收站</a>目录,入口只在"站点日志"页面里展示;</li>
                      <li>关于回收站:</li><ol>
                          <li>页面资料均来自网络;</li>
                          <li style="color: crimson;font-weight: 900;">从这里刷机刷出了问题,别去找官方的麻烦,此种情况找官方只会害人害己;</li>
                          <li>请不要在有官方人员的地方宣传本页面;</li>
                      </ol>
                      <li class="mdui-text-color-red">群员招募：米八和米九名额满了，感谢群里的各位朋友，其余机型正在招人；</li>
                      <li>具体细节，请在酷安私信我(<a href="http://www.coolapk.com/u/689716"
                              style="text-decoration: none;color:rgb(60, 182, 60);">@海力力</a>)进行了解，请标注机型和权限类型(公测/内测)；
                      </li>
                      <li>非常感谢大家的帮助！</li>
                  </ul>
              </p>
              <p>当前支持：
                      <a href="devices/sagit.html" style="text-decoration: none;color:blue;">小米6</a>/
                      <a href="devices/wayne.html" style="text-decoration: none;color:blue;">小米6X</a>/
                      <a href="devices/dipper.html" style="text-decoration: none;color:blue;">小米8</a>/
                      <a href="devices/ursa.html" style="text-decoration: none;color:blue;">小米8透明探索版</a>/
                      <a href="devices/equuleus.html" style="text-decoration: none;color:blue;">小米8屏幕指纹版</a>/
                      <a href="devices/sirius.html" style="text-decoration: none;color:blue;">小米8 SE</a>/
                      <a href="devices/platina.html" style="text-decoration: none;color:blue;">小米8青春版</a>/
                      <a href="devices/jason.html" style="text-decoration: none;color:blue;">小米Note3</a>/
                      <a href="devices/cepheus.html" style="text-decoration: none;color:blue;">小米9</a>/
                      <a href="devices/crux.html" style="text-decoration: none;color:blue;">小米9 Pro 5G</a>/
                      <a href="devices/grus.html" style="text-decoration: none;color:blue;">小米9 SE</a>/
                      <a href="devices/pyxis.html" style="text-decoration: none;color:blue;">小米CC9</a>/
                      <a href="devices/vela.html" style="text-decoration: none;color:blue;">小米CC9美图定制版</a>/
                      <a href="devices/laurus.html" style="text-decoration: none;color:blue;">小米CC9e</a>/
                      <a href="devices/nitrogen.html" style="text-decoration: none;color:blue;">小米Max3</a>/
                      <a href="devices/chiron.html" style="text-decoration: none;color:blue;">小米MIX2</a>/
                      <a href="devices/polaris.html" style="text-decoration: none;color:blue;">小米MIX2S</a>/
                      <a href="devices/perseus.html" style="text-decoration: none;color:blue;">小米MIX3</a>/
                      <a href="devices/clover.html" style="text-decoration: none;color:blue;">小米平板4/Plus</a>/
                      <a href="devices/cactus.html" style="text-decoration: none;color:blue;">红米6A</a>/
                      <a href="devices/sakura.html" style="text-decoration: none;color:blue;">红米6 Pro</a>/
                      <a href="devices/onclite.html" style="text-decoration: none;color:blue;">Redmi 7</a>/
                      <a href="devices/pine.html" style="text-decoration: none;color:blue;">Redmi 7A</a>/
                      <a href="devices/olive.html" style="text-decoration: none;color:blue;">Redmi 8</a>/
                      <a href="devices/olivelite.html" style="text-decoration: none;color:blue;">Redmi 8A</a>/
                      <a href="devices/mido.html" style="text-decoration: none;color:blue;">红米Note 4X(高通)</a>/
                      <a href="devices/whyred.html" style="text-decoration: none;color:blue;">红米Note 5</a>/
                      <a href="devices/ugglite.html" style="text-decoration: none;color:blue;">红米Note 5A 标准版</a>/
                      <a href="devices/ugg.html" style="text-decoration: none;color:blue;">红米Note 5A 高配版</a>/
                      <a href="devices/lavender.html" style="text-decoration: none;color:blue;">Redmi Note 7</a>/
                      <a href="devices/violet.html" style="text-decoration: none;color:blue;">Redmi Note 7 Pro</a>/
                      <a href="devices/ginkgo.html" style="text-decoration: none;color:blue;">Redmi Note 8</a>/
                      <a href="devices/begonia.html" style="text-decoration: none;color:blue;">Redmi Note 8 Pro </a>/
                      <a href="devices/davinci.html" style="text-decoration: none;color:blue;">Redmi K20</a>/
                      <a href="devices/raphael.html" style="text-decoration: none;color:blue;">Redmi K20 Pro</a>/
                      <a href="devices/raphaels.html" style="text-decoration: none;color:blue;">Redmi K20 Pro尊享版</a>。
                  <br></p>
          </div>

        <div class="mdui-panel-item mdui-panel-item-open">
          <div class="mdui-panel-item-header">本站点将极力收集MIUI发布的更新</div>
          <div class="mdui-panel-item-body">
            <p> </p>
            <p>开发版正常更新的机型有：</p>
            <p>小米系列：小米6/小米6X/小米8/小米8探索版/小米8屏幕指纹版/小米8 SE/小米8青春版/小米9/小米9透明版/小米9
              SE/小米CC9/小米CC9美图定制版/小米CC9e/小米Max 3/小米Play/小米Note 3/小米MIX 2/小米MIX 2S/小米MIX 3</p>
            <p>Redmi 系列：红米6/红米6A/红米6 Pro/Redmi Note 7/Redmi Note 7 Pro/Redmi Note 8/Redmi Note 8 Pro/Redmi K20/Redmi K20 Pro</p>
            <br>
          </div>
        </div>
        <div class="mdui-panel-item mdui-panel-item-open mdui-hidden">
          <div class="mdui-panel-item-header">开发版动态</div>
          <div class="mdui-panel-item-body">
            <p>公告：</p>
            <p>小米手机5S/小米手机5S Plus/小米5X/小米5C/小米Max 2/小米Note 2/小米MIX/红米4X/红米5/红米5A/红米5 Plus/红米Note 4X/红米Note 5A标准版/红米Note
              5A高配版/小米平板3</p>
            <p>已于2019年10月14日停止<em style="color: red;font-style:unset;font-weight: bold;">开发版</em>内测/公测</p>
          </div>
        </div>

        <div class="mdui-panel-item mdui-panel-item-open">
          <div class="mdui-panel-item-header">稳定版动态</div>
          <div class="mdui-panel-item-body">
              <div>
                  <p>2019.10.17/18日更新:</p>
                  <ol>
                    <li>小米8: V11.0.3.0.PEACNXM</li>
                    <li>小米8透明探索版: V11.0.2.0.PEHCNXM</li>
                    <li>小米8屏幕指纹版: V11.0.2.0.PECCNXM</li>
                    <li>小米手机8青春版: V11.0.2.0.PDTCNXM</li>
                    <li>小米手机8SE: V11.0.3.0.PEBCNXM</li>
                    <li>小米手机9SE: V11.0.3.0.PFBCNXM</li>
                    <li>小米Max3: V11.0.2.0.PEDCNXM</li>
                    <li>小米MIX2S: V11.0.2.0.PDGCNXM</li>
                    <li>小米MIX3: V11.0.3.0.PEECNXM</li>
                    <li>Redmi 7: V11.0.1.0.PFLCNXM</li>
                    <li>Redmi Note 7 Pro: V11.0.3.0.PFHCNXM</li>
                    <li>Redmi K20: V11.0.3.0.PFJCNXM</li>
                  </ol>
                </div>
            <div class="mdui-hidden">
              <p>2019.10.14日更新:</p>
              <ol>
                <ul>1.小米9: V10.2.14.0.PFAMIXM、V10.2.9.0.PFARUXM</ul>
                <ul>2.小米CC9: V10.3.1.0.PFCRUXM、V10.3.6.0.PFCEUXM、V10.3.1.0.PFCMIXM</ul>
                <ul>3.Redmi 7A: V10.2.10.0.PCMINXM、V10.2.14.0.PCMCNXM</ul>
                <ul>4.Redmi Note 8: V10.3.2.0.PCOIDXM、V10.3.1.0.PCOINXM</ul>
                <ul>5.Redmi Note 8 Pro: V10.4.10.0.PGGCNXM、V10.4.1.0.PGGMIXM、V10.4.2.0.PGGIDXM</ul>
                <ul>6.Redmi K20 Pro:
                  V10.3.1.0.PFKRUXM、V10.3.2.0.PFKRUXM、V10.3.1.0.PFKEUXM、V10.3.3.0.PFKEUXM、V10.3.4.0.PFKEUXM、V10.3.3.0.PFKINXM、V10.3.5.0.PFKINXM、V10.3.1.0.PFKMIXM、V10.3.2.0.PFKMIXM
                </ul>
              </ol>
            </div>
            <div class="mdui-hidden">
              <p">2019.10.01日更新:</p>
                <ol>
                  <ul>1.Redmi Note 8: V10.3.6.0.PCOCNXM</ul>
                  <ul>2.Redmi Note 8 Pro: V10.4.9.0.PGGCNXM</ul>
                </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="mdui-color-grey-700 mdui-bottom-nav" style="height: 120px;">
      <div class="mdui-container-fluid">
        <div class="mdui-row mdui-footer-nav">
          <div class="mdui-col-xs-3">
            <h3><a href="../aboutme.html" target="_blank" style="font-size: 15px;">关于我</a></h3>
          </div>
          <div class="mdui-col-xs-4">
            <h3><a href="http://www.miui.com/space-uid-311975809.html" target="_blank" style="font-size: 15px;">我的主页</a>
            </h3>
          </div>
          <div class="mdui-col-xs-5">
            <h3><a href="https://www.mdui.org" target="_blank" style="font-size: 15px;">使用MDUI打造</a></h3>
          </div>
        </div>
        <div class="mdui-divider footer-divider"></div>
        <p></p>
        <div class="mdui-text-center"">自 2019 - 至今 </div>
        <div style=" position:absolute; right:20px;bottom: 5px;">
          <script
            type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1278047585'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1278047585%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
      </div>
    </footer>
    <button class=" mdui-btn mdui-btn-icon mdui-color-deep-orange-accent"
      style="position: fixed; right: 20px;bottom: 40px;"><i class="mdui-icon material-icons"><a href="#top"
          style="text-decoration: none;color:black;">arrow_upward</a></i></button>
</body>

</html>