<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/mdui/0.4.3/css/mdui.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/mdui/0.4.3/js/mdui.min.js"></script>
  <title>MIUI官方ROM仓库 --By 海力力。</title>
</head>

<body>
  <div class="mdui-toolbar mdui-color-deep-orange-accent">
    <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}" mdui-drawer-close><i
        class="mdui-icon material-icons">menu</i></button>
    <span class="mdui-typo-headline">MIUI官方ROM仓库</span>
    <div class="mdui-toolbar-spacer"></div>
    <div class="mdui-drawer mdui-drawer-close" id="main-drawer">
      <ul class="mdui-list" mdui-collapse="{accordion: true}">
        <li class="mdui-list-item mdui-ripple mdui-list-item-active">
          <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
          <div class="mdui-list-item-content"><a href="index.html">首页</a></div>
        </li>

        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">smartphone</i>
          <div class="mdui-list-item-content"><a href="weekly/index.html">开发版日志</a></div>
        </li>
        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">smartphone</i>
          <div class="mdui-list-item-content"><a href="mounthly/index.html">稳定版日志</a></div>
        </li>

        <li class="mdui-collapse-item">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">smartphone</i>
            <div class="mdui-list-item-content">在更机型</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
            <li class="mdui-list-item mdui-ripple"><a href="devices/capricorn.html">小米手机5S</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/natrium.html">小米手机5S Plus</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/tiffany.html">小米手机5X</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/meri.html">小米手机5C</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sagit.html">小米手机6</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/wayne.html">小米手机6X</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/dipper.html">小米手机8</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ursa.html">小米手机8探索版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/equuleus.html">小米手机8屏幕指纹版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sirius.html">小米手机8 SE</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/platina.html">小米手机8青春版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cepheus.html">小米手机9/透明版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/grus.html">小米手机9 SE</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/pyxis.html">小米手机CC9</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/vela.html">小米CC9美图定制版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/laurus.html">小米CC9e</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/oxygen.html">小米手机Max 2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/nitrogen.html">小米手机Max 3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lotus.html">小米手机Play</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/scorpio.html">小米手机Note 2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/jason.html">小米手机Note 3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lithium.html">小米手机MIX</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/chiron.html">小米手机MIX 2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/polaris.html">小米手机MIX 2S</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/perseus.html">小米手机MIX 3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cappu.html">小米平板3</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/clover.html">小米平板4/Plus</a></li>


            <li class="mdui-list-item mdui-ripple"><a href="devices/santoni.html">红米4X</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/rosy.html">红米5</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/riva.html">红米5A</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/vince.html">红米5 Plus</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cereus.html">红米6</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/cactus.html">红米6A</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/sakura.html">红米6 Pro</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/onclite.html">Redmi 7</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/pine.html">Redmi 7A</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/mido.html">红米Note 4X(高通平台)</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/whyred.html">红米Note 5</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ugglite.html">红米Note 5A 标准版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ugg.html">红米Note 5A 高配版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/lavender.html">Redmi Note 7</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/violet.html">Redmi Note 7 Pro</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/ginkgo.html">Redmi Note 8</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/begonia.html">Redmi Note 8 Pro</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/davinci.html">Redmi K20</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/raphael.html">Redmi K20 Pro</a></li>
          </ul>
        </li>

        <li class="mdui-collapse-item">
          <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">smartphone</i>
            <div class="mdui-list-item-content">全部机型</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
          </div>
          <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
            <li class="mdui-list-item mdui-ripple"><a href="devices/mioneplus.html">小米手机1</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/index.html">小米手机1青春版</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/index.html">小米手机2</a></li>
            <li class="mdui-list-item mdui-ripple"><a href="devices/index.html">小米手机2S</a></li>
          </ul>
        </li>

        <li class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
          <div class="mdui-list-item-content"><a href="aboutme.html">关于我</a></div>
        </li>

      </ul>
    </div>
  </div>

  <div class "mdui-container">

    <div class="mdui-panel mdui-panel-gapless">
      <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header mdui-text-color-red">站点日志：</div>
        <div class="mdui-panel-item-body">
          <p>V0.0.1-SNAPSHOT</p>
          <p>当前只制作上线部分机型的最新刷机包页面，其余的慢慢补充吧</p>
          <p>机型：先做了我自己在整理的几个机型的，<a href="devices/sagit.html" style="text-decoration: none;color:blue;">小米6</a>，<a
              href="devices/polaris.html" style="text-decoration: none;color:blue;">MIX2S</a>，<a href="devices/davinci.html" style="text-decoration: none;color:blue;">Redmi K20</a>，<a href="devices/raphael.html" style="text-decoration: none;color:blue;">Redmi K20 Pro</a></p>
          <br>
        </div>
      </div>
      <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">本站点将极力收集MIUI发布的更新</div>
        <div class="mdui-panel-item-body">
          <p> </p>
          <p>本站点当前已收录有XXX条数据</p>
          <p>在更机型有：</p>
          <p>小米系列：小米5S/小米5S Plus/小米5X/小米5C/小米6/小米6X/小米8/小米8探索版/小米8屏幕指纹版/小米8 SE/小米8青春版/小米9/小米9透明版/小米9
            SE/小米CC9/小米CC9美图定制版/小米CC9e/小米Max 2/小米Max 3/小米Play/小米Note 2/小米Note 3/小米MIX/小米MIX 2/小米MIX 2S/小米MIX 3</p>
          <p>Redmi 系列：红米4X/红米5/红米5A/红米5 Plus/红米6/红米6A/红米6 Pro/Redmi 7/Redmi 7A/红米Note 4X(高通平台)/红米Note 5/红米Note 5A
            标准版/红米Note 5A 高配版/Redmi Note 7/Redmi Note 7 Pro/Redmi Note 8/Redmi Note 8 Pro/Redmi K20/Redmi K20 Pro</p>
          <p>平板产品：小米平板3/小米平板4/小米平板4 Plus</p>
          <br>
        </div>
      </div>
      <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">开发版动态</div>
        <div class="mdui-panel-item-body">
          <p> </p>
          <p>2019.9.6日更新9.9.3版本</p>
          <p>该版本支持：小米6/小米6X/小米8/小米8探索版/小米8屏幕指纹版/小米8 SE/小米8青春版/小米9 SE/小米Max 3/小米Note 3/小米MIX 2/小米MIX 2S/小米MIX
            3/红米6/红米6A/红米6 Pro/红米Note 5/Redmi Note 7/Redmi Note 7 Pro</p>
          <br><br>
          <p>公告：</p>
          <p>小米手机5S/小米手机5S Plus/小米5X/小米5C/小米Max 2/小米Note 2/小米MIX/红米4X/红米5/红米5A/红米5 Plus/红米Note 4X/红米Note 5A标准版/红米Note
            5A高配版/小米平板3</p>
          <p>将于2019年10月5日起停止开发版内测公测</p>
        </div>
      </div>

      <div class="mdui-panel-item mdui-panel-item-open">
        <div class="mdui-panel-item-header">稳定版动态</div>
        <div class="mdui-panel-item-body">
          <p> </p>
          <p>2019.9.24日更新XXX版本</p>
          <p>该版本支持：</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="mdui-color-grey-700 mdui-bottom-nav" style="height: 120px;">
    <div class="mdui-container-fluid">
      <div class="mdui-row mdui-footer-nav">
        <div class="mdui-col-xs-3">
          <h3><a href="../aboutme.html" target="_blank" style="font-size: 15px;">关于我</a></h3>
        </div>
        <div class="mdui-col-xs-4">
          <h3><a href="http://www.miui.com/space-uid-311975809.html" target="_blank" style="font-size: 15px;">我的主页</a>
          </h3>
        </div>
        <div class="mdui-col-xs-5">
          <h3><a href="https://www.mdui.org" target="_blank" style="font-size: 15px;">使用MDUI打造</a></h3>
        </div>
      </div>
      <div class="mdui-divider footer-divider"></div>
      <p></p>
      <div class="mdui-text-center"">Copyright © 2019 -  </div>
      </div>
  </footer>
</body>

</html>